[2018-06-28 17:48] #175 closed

[2018-06-28 18:04] gboeing commented on #16
For more on geocoding/polygon logic, see also this [thread](https://www.reddit.com/r/gis/comments/8swxc3/nominatim_logic_for_downloading_administrative/).

[2018-06-28 18:36] gboeing commented on #158
Fix released in v 0.8.

[2018-07-02 01:13] Zhuifeng414 opened #176 "How to use gdf_from_place like places as: Beijing,China or Shanghai, China?"
When I use the function : city = ox.gdf_from_place('Shanghai, China')
the error : ValueError: All geometries in GeoDataFrame must be shapely Polygons or MultiPolygons

I have check the website of Open Street Map
![image](https://user-images.githubusercontent.com/25602402/42140951-db99512c-7dd7-11e8-841f-1e47c8db42ec.png)
the first one is a point
the second one is the shapeloy polygons
the problem

[2018-07-02 01:16] Zhuifeng414 commented on #176
I have solved it just now, use the demo as follow:
[code]

[2018-07-02 02:54] gboeing commented on #176
This issue and its solution are discussed in several places elsewhere, but most notably the thread in #16

[2018-07-02 02:54] #176 closed

[2018-07-03 08:54] subwayHareArmy opened #177 "(Very) minor optimization"
https://github.com/gboeing/osmnx/blob/0c62d727b0dc468c04b13ec5dcd390417cf28734/osmnx/core.py#L980

Should there be a break statement after this? Adding a break after it would still ensure that the variable 'any_neighbors_in_bbox' is set to True. There is no need of iterating through the rest of the 'neighbor's in 'neighbors'.

Please correct me if I haven't understood this completely. Also, should

[2018-07-03 19:31] kzhanar opened #178 "NetworkXNotImplemented: not implemented for multigraph type"
Notebook 00-osmnx-features-demo
[code]
When running # edge closeness centrality: convert graph to line graph so edges become nodes and vice versa
edge_centrality = nx.closeness_centrality(nx.line_graph(G))
Error   NetworkXNotImplemented: not implemented for multigraph type

Version '0.8.1'

[2018-07-03 20:42] gboeing commented on #178
See #157 and https://github.com/gboeing/osmnx-examples/issues/8

[2018-07-03 20:42] #178 closed

[2018-07-06 09:36] o1lo01ol1o commented on #17
I'm also encountering this error.  `requests` `pyopenssl` `cryptography` and `certifi` are all most recent versions for python 3.6.  `OpenSSL` is the most recent formula from `homebrew` and I'm on Sierra 10.12.6.  The error occurs over public internet and over public internet via our private vpn tunnel.

stacktrace: https://gist.github.com/o1lo01ol1o/31a45601191a65bf5db01a43866f3416

   Is there a

[2018-07-10 09:47] zifeo opened #179 "Bounding box limitation"
#### Problem description

When querying bounding boxes, the queries can be very slow depending on the size of the boxes.
Is there any limits involved? The difference of time between a 9x9km^2 box and 10x10km^2 seems to be exponential. Same is happening with a polygon approximately of the same size.

Is there other alternative for loading those data into OSMnx? I tried `graph_from_file` but it is a

[2018-07-10 16:15] gboeing commented on #179
Can you supply both an example 9x9km^2 box and a 10x10km^2 box and I'll check the execution times? What are the execution times you're seeing?

[2018-07-11 02:38] goggle opened #180 "Unable to import osmnx after having it installed with pip."
#### Problem description
I've installed `osmnx` with pip in a fresh virtual environment as described in the README:
[code]
All three commands ran successfully.
After this, I've opened a python console, and tried to import the `osmnx` module:
[code]
I get the following error message:
[code]

#### What operating system, architecture, Python version, and OSMnx version are you using?
Operating System:

[2018-07-11 05:08] gboeing commented on #180
This is an rtree installation issue. The OSMnx readme suggests using conda and conda-forge to install the dependencies as rtree is more complicated than that. If you want to install everything with pip, read the additional instructions to get rtree's dependencies installed here: http://toblerity.org/rtree/install.html

[2018-07-11 05:09] gboeing commented on #177
Would you like to open a PR and test it out?

[2018-07-11 15:14] goggle commented on #180
Ok, after installing `spatialindex` (version 1.8.5, I hope this is not a problem, because in your linked document it is suggested to install version 1.7.0) through the package manager of my distribution, it seems to work, at least I don't get this error message anymore after importing `osmnx`.

This is my solution:
[code]
The last three commands have been executed in a virtual environment using `v

[2018-07-11 21:33] vr00n opened #181 "'PolarAxesSubplot' object is not iterable on running 17-street-network-orientations.ipynb"
The issue tracker is for reporting bugs and feature requests. For general questions, see the contributing guidelines in CONTRIBUTING.md.

If you're having trouble with OSMnx, first search the previously opened issues to see if the problem has already been noted. If not, fill in the template below. You can delete any sections that don't apply.

#### Problem description (what did you do, what did yo

[2018-07-12 08:10] JosephRedfern commented on #181
Same issue here. Removing the line:

[code]
solved it for me.

[2018-07-12 10:02] zifeo commented on #179
Thanks for getting back. It seems it was a local issue over the previous week. We are now able to retrieve 10x10km^2 with a correct and consistent time. Could you still give a bit of background on the fetching/downloading process in case it happens again (and we can try debugging)?

[2018-07-12 21:32] #180 closed

[2018-07-12 21:33] gboeing commented on #181
@JosephRedfern yep. It lets you iterate through matplotlib axes to plot each individual histogram on. If you don't have multiple histograms to plot, then you can't iterate.

[2018-07-12 21:33] #181 closed

[2018-07-12 21:34] #179 closed

[2018-07-16 11:49] jaakla opened #182 "Make it usable with Binder"
I tried some sample notebooks, but they don't work as the dependencies are missing. Python level dependencies can be added inside Notebook with `!pip install osmnx`, but it does not work as lower level `spatialtree` is not installed and it ends up with error _OSError: Could not find libspatialindex_c library file_.

According to [Binder doc](http://mybinder.readthedocs.io/en/latest/using.html#prep

[2018-07-16 12:39] jaakla commented on #182
After adding the issue discovered that samples are in different https://github.com/gboeing/osmnx-examples repo, so the issue should be there really. Anyway, my PR is over there.

[2018-07-16 15:02] paulguhennec opened #183 "Possible bug : Zero degree bearing"
Hello.

Relatively new OSMnx user here, apologies if this was already discussed (which I couldn't find).

Looking at the bearings of some cities, I noticed a peak in the angle distribution at 0 degrees. See the attached example for Birmingham, UK.
![birmingham_example](https://user-images.githubusercontent.com/38250870/42765645-c90dfc50-8918-11e8-9dbf-b9d436452c2e.png)

This does not correspond to

[2018-07-16 15:39] gboeing commented on #183
If you fill out the full issue template including environment details and complete code to reproduce what you found, I can take a look. In general, I'd suggest working off of the code example here as it has been tested for accurate calculations and binning: https://github.com/gboeing/osmnx-examples/blob/master/notebooks/17-street-network-orientations.ipynb

[2018-07-16 15:40] #182 closed

[2018-07-17 09:33] paulguhennec commented on #183
#### Operating system, architecture, Python version, and OSMnx version

- Ubuntu 14.04.4  x86_64
- Python 3.6.5
- conda 4.5.6
- OSMnx 0.8.1

#### Complete list of your environment's packages and their versions

<details>
_ipyw_jlab_nb_ext_conf    0.1.0            py36he11e457_0
alabaster                 0.7.10           py36h306e16b_0
altair                    2.1.0                      py_0    co

[2018-07-19 05:01] TheodoreGalanos commented on #116
Hello,

I was wondering if it is possible to extract pois from a bbox. I have been looking but can't seem to find this functionality. I'm guessing there is an indirect way of getting the polygon from the bbox? Or could there be a direct way to ask amenities within a bbox?

Thanks in advance!
Theodore.

[2018-07-19 14:57] gboeing commented on #16
@puntofisso regarding your first question, you can run:

[code]

...to see exactly what nominatim is returning when we make that GET request. If you see something unexpected or inconsistent, please open a new issue.

Regarding your second question, gdf_from_place is for geocoding query strings/dicts, not for looking up IDs. Other discussion about that would be best suited to a new issue or a PR if

[2018-07-19 15:36] puntofisso commented on #16
Hi @gboeing, thanks for responding so quickly! :) So... let me clarify a little after doing a couple of tests.

What seems to be happening here is that calling that url via requests returns two different results than when I use a browser, which are different from the results returned by gdf_from_place.

**Using a browser**, I pass 'City of London, UK' as its (urlencoded) counterpart 'City%20of%20L

[2018-07-19 15:41] gboeing commented on #16
@puntofisso could you open a new issue for this and I'll explore it? I think this is requests vs browser inconsistency is unrelated to the original issue here.

[2018-07-19 15:43] puntofisso commented on #16
Sure @gboeing and thanks!

[2018-07-19 15:47] puntofisso opened #184 "gdf_from_place() returns different list of results from requests.get() and browsr"
Following up the discussion on #16 I seem to have found an example for which I get slightly different result when calling gdf_from_place(which_result=X) compared to calling the equivalent url via requests and via browser.

Using a **browser**, I pass 'City of London, UK' as its (urlencoded) counterpart 'City%20of%20London,%20UK', so the url I enter in the browser is:
[https://nominatim.openstreetm

[2018-07-19 17:01] gboeing commented on #184
@puntofisso I just opened an issue in Nominatim's repo as it seems to be giving inconsistent results even when the request's user agent string is set to chrome. https://github.com/openstreetmap/Nominatim/issues/1104

[2018-07-19 17:55] puntofisso commented on #184
That's grand. Thanks :)

[2018-07-19 19:06] gboeing commented on #184
@puntofisso this should fix it:

[code]

I'll add to OSMnx master later today.

[2018-07-19 19:30] #184 closed

[2018-07-19 19:36] gboeing commented on #184
@puntofisso could you test the latest commits to master for me? It should be working as expected now.

[code]

Returns: 'City of London, Greater London, England, United Kingdom'. Also, you can now configure your default language like this:

[code]

Returns: 'City de Londres, London, Greater London, Inglaterra, EC2V 5AE, Reino Unido'

[2018-07-19 20:03] gboeing commented on #183
The code all works fine, your graph just has a ton of self-loops in it (self-loops' bearings default to 0 degrees). I'd remove them before calculating bearing statistics.

[code]

[2018-07-19 20:05] gboeing commented on #153
Closing for lack of activity. Can re-open at later date.

[2018-07-19 20:05] #153 closed

[2018-07-19 20:31] #183 closed

[2018-07-19 20:33] gboeing commented on #183
Fixed in 020aa7c so self-loops are assigned null bearings.

[2018-07-19 22:03] zifeo commented on #93
@gboeing Is there any way of saving a graph as osm (or pbf)? Is this reasonable a feature?

[2018-07-19 22:36] gboeing commented on #93
@zifeo no, OSMnx saves graphs as GraphML, ESRI shapefile, or regular old node/edge lists. Converting data back to .osm format would be a specialized task and probably best to consult https://wiki.openstreetmap.org/wiki/Converting_map_data_between_formats or similar.

[2018-07-20 07:30] puntofisso commented on #184
Mmm. I'm not a massive python environment experts but let me try. The working version I have - bar this issue - was the one I installed via conda's pip.

When I try installing the new master version after creating a virtualenv, if I import osmnx I get

`raise OSError("Could not find libspatialindex_c library file")
OSError: Could not find libspatialindex_c library file`

which I think points to #1

[2018-07-20 09:27] zifeo commented on #93
Thanks!

[2018-07-20 10:11] paulguhennec commented on #183
Many thanks!

[2018-07-20 16:44] puntofisso commented on #184
Thanks :)

It looks like it works and that I can reliably change its behaviour. Just to make sure it's what you expect: it looks like I need to select the language explicitly to to 'en' to get the same results I was getting from requests().

If I don't select the language, or I select different languages, I get different results for the same call. Some examples:

`ox.config(default_accept_language

[2018-07-20 16:55] gboeing commented on #184
Nominatim's default language is 'en', and it sorts importance scores slightly differently if different languages (or none) are provided.

OSMnx now by default provides 'en' as the accept-language. So if you just run

[code]

It explicitly sends 'en' by default and receives the same results you see in your browser (as long as your browser's default language is set to 'en'). If you use `ox.config` t

[2018-07-22 12:19] orome opened #185 "Importing '__future__. unicode_literals' causes TypeError in 'graph_from_place'"
#### Problem description

After following the instructions for installation of OSMnx (including explicitly installing `spatialindex `) with

    brew install spatialindex
    pip install osmnx

running the very first basic example of

    import osmnx as ox
    G = ox.graph_from_place('Manhattan Island, New York City, New York, USA', network_type='drive')
    ox.plot_graph(ox.project_graph(G))

in

[2018-07-22 15:49] gboeing commented on #185
OSMnx is compatible with Python 2 and 3, so you don't need to import from the future package to use it. If you use Python 2 and import unicode_literals from future, all of your strings will be of type unicode instead. As you can see in the [documentation](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_place), graph_from_place expects the query to be of type string, not of

[2018-07-22 15:49] #185 closed

[2018-07-24 03:08] coolum001 opened #186 "Get RuntimeError: b'invalid UTM zone number' when using projected polygons"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
HI,

In  a Jupyter Lab environment:

(Beta Release Series
Version 0.32.1),

I used gdf_from_place to get a one line GDF. I extracted the Polygon, and projected it to UTM, and then tried to use that to get buildings.  I expected to be returned a gdf of buildings, but got :
[code]
Happy to answer qu

[2018-07-24 03:37] coolum001 opened #187 "plot_buildings ignores bgcolor parameter for existing Figure, Axes"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Hi

I called `buildings.plot_buildings` with an existing `fig` and `ax`; I expected the background to be set to specified color via `bgcolor`, but the parameter was ignored.  It seems from reading the code that it is only used if a `fig` or `ax` paramers are not provided.

happy to run more tests

[2018-07-24 04:13] coolum001 opened #188 "Better handling of cases where OSM places with POINT geometry are used in getting buildings"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Hi

When I called buildings_from_place() giving the place name of the fly-speck village I live in , I expected to get some buildings; what I got was:
[code]
This is because `gdf_from_place()` gives me a POINT geometry, as per

[code]

  | bbox_east | bbox_north | bbox_south | bbox_west | geometry

[2018-07-24 16:34] gboeing commented on #187
If you're creating your own figure and axes, just set the background color when you do so.

[code]

[2018-07-24 16:34] #187 closed

[2018-07-24 16:41] #188 closed

[2018-07-24 16:42] gboeing commented on #177
Closed for inactivity; can re-open with PR to test it out.

[2018-07-24 16:42] #177 closed

[2018-07-27 11:50] HTenkanen opened #190 "Feature enhancement: Include to POI search other Map features as well"
Hi @gboeing, one of my students just pointed out that the poi search is missing many useful poi types such as:

- [Shop](https://wiki.openstreetmap.org/wiki/Map_Features#Shop)
- [Craft](https://wiki.openstreetmap.org/wiki/Map_Features#Craft)
- [Emergency](https://wiki.openstreetmap.org/wiki/Map_Features#Emergency)
- [Historic](https://wiki.openstreetmap.org/wiki/Map_Features#Historic)
- [Leisure](

[2018-07-27 15:16] gboeing commented on #190
I like the idea of the 3rd option as it seems most powerful. What about passing a dict instead like:

[code]

This dict would signify that we ignore all `emergency` elements, retrieve all `shops` elements, retrieve `leisure` elements where leisure value = `park`, and also retrieve all `amenities` where amenity value = `grocery` or `restaurant` or `school`.

So, in the argument dict, `key`:`False`

[2018-07-27 17:36] HTenkanen commented on #190
Yes, that sounds like a good idea. 👍 It's flexible and easy to understand.

What should we use as default values? Should we just fetch everything? It might produce quite a bit of results e.g. in Manhattan 😛 In the current version it will fetch everything but only from amenities.

[2018-07-28 14:44] nivedita44 opened #191 "Error in importing osmnx in python in Anaconda prompt"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

 Hi
I installed Conda (Anconda 3 - 5.2.0)
then I installed osmnx using conda
then I tried to import osmnx in python in the Anaconda prompt
here I failed with this error -
---------------

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Nibedita\Anaconda3\

[2018-07-28 19:14] gboeing commented on #191
@nivedita44 could you re-open this in https://github.com/conda-forge/osmnx-feedstock/issues as it looks like a conda installation/dependencies issue, not an issue with the OSMnx codebase itself?

[2018-07-28 19:14] #191 closed

[2018-07-29 20:39] gboeing commented on #190
Maybe the default value could be `{'amenities' : True}` to maintain the current default functionality then?

[2018-07-30 05:03] rs06085 opened #192 "PolarAxesSubplot' object has no attribute 'flat"
I am trying to run an example I found on this repo: osmnx-examples

The issue is with matplotlib

# create figure and axes
n = len(places)
ncols = int(np.ceil(np.sqrt(n)))
nrows = int(np.ceil(n / ncols))
figsize = (ncols * 5, nrows * 5)
fig, axes = plt.subplots(nrows, ncols, figsize=figsize, subplot_kw={'projection':'polar'})

# plot each city's polar histogram
for ax, place in zip(axes.flat, sort

[2018-07-30 17:13] gboeing commented on #192
Can you provide a complete minimal working example for me to run? It would appear that you are not creating multiple subplots, but you are trying to flatten as though you were.

[2018-07-30 18:06] HTenkanen commented on #190
@gboeing Yes that is perhaps the best option here. I could also work on short tutorial notebook for fetching pois as it is still missing, and would perhaps be good to have it available as well.

[2018-07-31 16:10] gboeing commented on #190
@HTenkanen that would be fantastic.

[2018-07-31 16:27] tarikd opened #193 "Detect turns in a road"
I'm really sorry to post this request as an issue but it's not meeting the requirement to be posted on stackoverflow.

I would like to be able to locate where are the turns in a specific road and I was wondering if OSMNX is able to help me with this task.

Thank you for your answers!

[2018-08-01 15:36] gboeing commented on #193
Like where a road curves, mid-block? Here's a general gist. Construct the graph (with simplify=False), then add edge bearings. Then you can do something like find all the edges where osmid=12345 and compare their bearings. If adjacent edges have bearings that differ by say more than 5 degrees, then you  can say the road curves there.

Alternatively, simplify the graph when you construct it. Then p

[2018-08-01 18:01] Robinlovelace opened #194 "osmnx tries to show images even when show = False"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Reproducible example from the README:

[code]

I expected it to create `plot.png` and do nothing else. Instead it tried to show an image and crashed the terminal (I'm running in an environment where it cannot show images).

#### What operating system, architecture, Python version, and OSMnx versi

[2018-08-01 21:11] gboeing commented on #194
I just tested this now in both a Jupyter notebook and a terminal window, and it worked properly. The image file was saved to disk and nothing was displayed.

For reference, here's a complete minimal working example:

[code]

If your environment cannot show images, you should configure matplotlib as usual to use a different back-end (this should be the first two lines in your script):

[code]

[2018-08-02 07:47] Robinlovelace commented on #194
The second solution solved it. Many thanks!

[2018-08-02 07:47] #194 closed

[2018-08-02 08:12] Robinlovelace commented on #194
More context, in case it's of use/interest to others:

I'm running osmnx in a docker container I'm developing to help teach an MSc module in Transport Data Science next year: https://hub.docker.com/r/robinlovelace/tds/

I'm building on code (mostly in Python) and writing by @charles-fox linked his book Transport Data Science. As you'll see I cited your osmnx in the module catalogue: https://github

[2018-08-02 17:31] gboeing commented on #194
Some more OSMnx literature is listed in the middle of this page: https://geoffboeing.com/2018/03/osmnx-features-roundup/

Regarding IDEs, I recommend using a Jupyter notebook.

[2018-08-09 04:42] gabosantos opened #195 "ImportError: DLL load failed: %1 is not a valid Win32 application."
The issue tracker is for reporting bugs and feature requests. For general questions, see the contributing guidelines in CONTRIBUTING.md.

If you're having trouble with OSMnx, first search the previously opened issues to see if the problem has already been noted. If not, fill in the template below. You can delete any sections that don't apply.

#### Problem description (what did you do, what did yo

[2018-08-09 15:02] gboeing commented on #195
This is an issue with the conda-forge installation, rather than with the OSMnx codebase. Please open the issue here: https://github.com/conda-forge/osmnx-feedstock/issues

[2018-08-09 15:02] #195 closed

[2018-08-15 17:52] #193 closed

[2018-08-15 17:53] #192 closed

[2018-08-15 17:56] gboeing commented on #162
Thanks @samtoneill. Feel free to make a PR with this new plotting function (something like `plot_graph_offset()`).

[2018-08-15 17:56] gboeing commented on #163
Closing this issue here as the discussion has moved to the PR in code review.

[2018-08-15 17:56] #163 closed

[2018-08-17 15:57] puntofisso opened #196 "Issues with numpy.histogram?"
This isn't quite an osmnx issue, but I thought I'd add it here, as it may help shed some light in case others have the same problems.

I've just re-run the sample notebook that creates the street network polar visualizations, and got the following error (the same happens if I provide different locations):

[code]

Error "range parameter must be finite" is triggered any time am invalid range is pas

[2018-08-17 17:00] gboeing commented on #196
Might be related to #183. Try to drop NaNs or use the latest master branch of OSMnx and see if that fixes it.

[2018-08-18 15:28] puntofisso commented on #196
Thanks @gboeing. The numpy versions are different, but that said it doesn't look to me it's a real probelm with -infs or NaNs because if it so were, it would manifest itself even when I do

`np.histogram(bearings, bins=bins, range=(bearings.min(), bearings.max()))`.

Note that calling
`np.histogram(bearings, bins=bins)`
is, per documentation, equivalent to calling
`np.histogram(bearings, bins=bins

[2018-08-18 15:41] gboeing commented on #196
Ah I see. Sorry I should have read that line you wrote more carefully. Indeed it looks like something may have changed in numpy if calling `histogram` without a range argument no longer corresponds to what their documentation says should be the default behavior. Perhaps best to open an issue at numpy to see why this inconsistency exists? (Closing this here now, accordingly, but can reopen if we ne

[2018-08-18 15:41] #196 closed

[2018-08-18 15:42] puntofisso commented on #196
Indeed :) Just wanted to leave it here for the record, in case anyone else has similar issues.

[2018-08-19 04:34] gboeing commented on #196
@puntofisso thank you!

[2018-08-22 20:59] jafetmorales opened #197 "Error when running pip install osmnx"
This is the output when running <code>pip install osmnx</code>
[code]
This is my setup:

[2018-08-23 04:03] gboeing commented on #197
You should either install rtree according to its [installation instructions](http://toblerity.org/rtree/install.html) or install OSMnx with conda per the documentation: https://osmnx.readthedocs.io/en/stable/#installation

[2018-08-23 17:36] jafetmorales commented on #197
Thank you for your suggestion, but I was only trying to verify whether the pip installation as suggested by the docs worked, as this would make it easier and faster to deploy for users who have not installed conda.

[2018-08-23 17:39] gboeing commented on #197
pip works, but with the caveat that pip installation is always going to be entirely dependent on the individual system on which the installation occurs, plus whether upstream package developers have their build recipes fully supported for your individual system's configuration. Bottom line: if you have the dependencies installed, it's easy to pip install OSMnx as it is pure python.

[2018-08-23 17:39] #197 closed

[2018-08-24 16:07] miskolc opened #198 "Feature: Closest Road to a certain location's coordinates"
I'm using osmnx and networkx for calculating shortest routes in Dubai and I'm having an issue when finding the closest road to a tracking location's coordinates. Even if I use coordinates that are right on a specific highway, sometimes it is matched to a close road due to the fact that I use the `osmnx.get_nearest_node` to find the closest road. This function will search for the closest graph node

[2018-08-27 15:36] jpark11 opened #199 "Feature Enhancement: List street names for intersections"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I am looking for street information for the clean intersections that are produced by osmnx. I see that I can print lat/lon information, but is there a way to include street/road names as well? I don't see how to do this in the documentation. Thanks!

#### What operating system, architecture, Pyth

[2018-08-28 16:53] gboeing commented on #199
Currently, OSMnx does intersection cleaning by merging "geometries" (ie, multiple intersection points) into one, but it ignores topology (ie, the actual connections between intersections and streets). So the cleaned intersection objects do not retain data about what street segments they connect to.

[2018-08-28 17:30] gboeing commented on #199
One workaround is to find the network node nearest to each cleaned intersection point and find the streets at this intersection.

[code]

[2018-08-30 07:04] jpark11 commented on #199
awesome -- this is great. thanks!

[2018-08-30 07:04] #199 closed

[2018-09-12 15:00] j-t-t opened #200 "Inaccurate streets_per_node count"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Sometimes openstreetmap has two ways, one of which is contains a subset of the nodes that the other one has. This appears to happen when a street is partially one way and partially two ways.

Two examples of this are:
- https://www.openstreetmap.org/way/12169562 and https://www.openstreetmap.org/w

[2018-09-16 14:23] MikeDM16 opened #201 "Import Error: Can't get past "import osmnx" line although everything is installed."
I'm having difficulties regarding the installation of OSMnx package.

In order to install OSMnx I follow the steps for installing using Anaconda.
Although every package dependency seems to installed and solved, I can't use the OSMnx package nor find a traceback to an error or fault.

I'm simpling trying to follow the code example provided in the git README and the program simply stops and exit aft

[2018-09-17 13:41] gboeing commented on #201
@MikeDM16 if you installed via conda, best to open an installation issue at https://github.com/conda-forge/osmnx-feedstock as this doesn't appear to be related to the OSMnx codebase itself.

[2018-09-17 13:41] #201 closed

[2018-09-19 18:37] gboeing commented on #200
As far as I can tell, this is a problem with the source data on OSM rather than with OSMnx. For example, if a road is one-way, then it should tagged [as such](https://wiki.openstreetmap.org/wiki/Key:oneway). It appears that parts of [Borbeck Ave](https://www.openstreetmap.org/way/12169562) are one-way, but they are not tagged as such. Instead, the digitizer just layered two road lines atop one ano

[2018-10-01 20:34] bcoghe opened #202 "Getting only street level"
I'm trying to use osmnx to find the shortest route matrix between points all over the netherlands. The problem is that the graph for the netherlands is too big to load in (it seems). Is there a way to reduce size by only getting streets f.e.? How?

When using graph_from_place or graph_from_file, the error was "segmentation failed (core dumped)

Might there be another solution? I would need the sho

[2018-10-02 00:56] gboeing commented on #202
You can do something like this to get only certain levels of the road network hierarchy: https://stackoverflow.com/questions/52231122/python-osmnx-extract-only-big-freeways-of-a-country/52412274

[2018-10-02 08:15] bcoghe commented on #202
But then you can't search the shortest route? It returns a geopandas object instead of the multidigraph?

[2018-10-03 00:14] j-t-t commented on #200
What you're saying makes sense: it does appear to be an OSM data issue. It would be nice if it were possible to identify the correct number of streets per node despite this, since we're using that function on cities we've possibly never seen before, and we wouldn't know in advance if the OSM data is bad. We've only seen it in the Philadelphia area so far though, and have a (sort of hacky) workarou

[2018-10-03 00:14] #200 closed

[2018-10-04 20:29] KayleeZhu opened #203 "RunTime Error - Cannot run the code at all"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
I am totally new to python, osm and coding stuff. I got Runtime Error after I ran the code, and I even did not know which step has an issue. Here was what I did:
I saw your paper online and want to use your code to get a graph (includes edges and nodes) like this.
![image](https://user-images.gith

[2018-10-04 20:36] gboeing commented on #203
This isn't an OSMnx issue... it is an issue with one of its dependencies, pyproj. In general, I'd recommend installing OSMnx in a conda virtual environment (which should solve this) per the instructions here: https://osmnx.readthedocs.io/en/stable/#installation

Alternatively, see this issue and my reply: https://github.com/geopandas/geopandas/issues/830#issuecomment-426116505

[2018-10-04 20:59] KayleeZhu commented on #203
Hi Boeing,
Thanks very much for your speedy reply.
I tried to install it in a new, clean virtual environment using conda and conda-forge, but it failed.
This is what I got:

C:\Users\Kaylee>conda create --override-channels -c conda-forge -n OSMNX python=3 osmnx
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - osmnx
  - geopand

[2018-10-04 21:01] gboeing commented on #203
Ah, because you're on Windows right? I think conda-forge might not have a scipy build for windows so you can't override channels like that on windows. So, try the solution here to set up the environment variable: https://github.com/geopandas/geopandas/issues/830#issuecomment-426116505

[2018-10-04 21:09] KayleeZhu commented on #203
Yes, I am on windows!
Do you mean running
"import os
os.environ["PROJ_LIB"] = "C:\Anaconda\envs\env_name\Library\share" #windows"
on jupyter notebook?

[2018-10-05 13:47] gboeing commented on #203
Yes.

[2018-10-05 15:39] KayleeZhu commented on #203
I am not sure if I got you right. It still doesn't work.
![image](https://user-images.githubusercontent.com/43792717/46545032-750ead80-c882-11e8-802f-e4863e0e8ceb.png)
![image](https://user-images.githubusercontent.com/43792717/46545038-78099e00-c882-11e8-98ee-6c55f26f40f1.png)

[2018-10-05 16:02] gboeing commented on #203
Please post code as text rather than screenshots, so I can work with it. You need to update the line `os.environ["PROJ_LIB"] = "C:\Anaconda\envs\env_name\Library\share"` to reflect the reality of your computer's path. If you installed in a virtual environment, browse your `c:\Anaconda` to find the environment name and make sure it contains `Library\share` subfolders.

If this doesn't resolve it, y

[2018-10-05 17:12] KayleeZhu commented on #203
Thank you very much! I think it works now!

[2018-10-08 12:38] #203 closed

[2018-10-08 12:39] gboeing commented on #202
@bcoghe is this issue ready to be closed?

[2018-10-09 18:20] 1papaya commented on #45
On Ubuntu 18.04 it worked to install rtree from apt instead of pip, as follows:
`sudo apt install python3-rtree`

[2018-10-09 21:26] kzhanar opened #204 "Download Isochrone as a shapefile or geojson?"
The issue tracker is for reporting bugs and feature requests. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're having trouble with OSMnx, first search the previously opened issues to see if

[2018-10-11 09:34] pmartin24 opened #205 "b'No such file or directory'"
While trying to execute the first code you posted (thanks a lot in advance), I got the following error (new to python so I don't understand the problem):

Could you help me please?

runfile('C:/Users/username/AppData/Local/Continuum/anaconda3/pkgs/osmnx-0.8.2-py_0/site-packages/osmnx/Isochrones 1.py', wdir='C:/Users/username/AppData/Local/Continuum/anaconda3/pkgs/osmnx-0.8.2-py_0/site-packages/osm

[2018-10-11 12:41] gboeing commented on #205
This issue is solved here: https://github.com/gboeing/osmnx/issues/203

See here for more info: https://github.com/geopandas/geopandas/issues/830#issuecomment-426116505

[2018-10-11 12:41] #205 closed

[2018-10-11 12:42] gboeing commented on #204
Is this a "how-to" question or a new feature request? If it is a how-to question, per the contributing guidelines please ask it at [StackOverflow](https://stackoverflow.com/search?q=osmnx). If it's a feature request, please sketch it out in detail.

[2018-10-14 19:58] fanyangxyz opened #207 "TypeError: Geometry must be a shapely Polygon or MultiPolygon."
I'm using osmnx 0.8.2 on Ubuntu 16.04 and Python 3.6.

When trying this example:
https://github.com/gboeing/osmnx-examples/blob/master/notebooks/15-calculate-visualize-edge-bearings.ipynb

When I run the code
[code]
It returns the following TypeError
[code]

I'm very confused, since this is different from the example output in the notebook.

[2018-10-15 12:54] gboeing commented on #207
Geocoder results can change from time to time. Feel free to issue a PR to update the example!

For a full explanation of this issue and how to fix see #16.

See also #11 and #118

[2018-10-15 15:30] #207 closed

[2018-10-17 14:32] bpstewar opened #208 "Error when extracting POIs"
The issue tracker is for reporting bugs and feature requests. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're having trouble with OSMnx, first search the previously opened issues to see if

[2018-10-17 14:34] gboeing commented on #208
Can you provide a complete code snippet to independently reproduce the issue?

Secondly, if you've found a solution, would you like to open a PR?

[2018-10-17 14:34] #204 closed

[2018-10-17 14:35] #202 closed

[2018-10-17 14:35] gboeing commented on #190
@HTenkanen just checking back if this is still active.

[2018-10-17 20:40] hanleybrand commented on #45
On MacOS you can `brew install spatialindex` to fix this problem

[2018-10-21 02:30] SqySimmon opened #209 "Duplicate columns"
#### I got beijing street osm data by `ox.gdf_from_place("beijing,china", which_result=2)`.
#### When I use `pandas.unique` the 'osmid' column of edges data, edges dataframe length change from **125845** to ** 36516**.
#### I check some details of the edges data, there are really some duplicate data. But some of them has reverse column 'u' and 'v', some of them are totally the same! All of columns

[2018-10-21 13:59] gboeing commented on #209
@SqySimmon can you provide a complete code snippet to reproduce your issue from scratch?

[2018-10-21 14:13] SqySimmon commented on #209
#### get data
[code]
#### transform nodes edges
`nodes, edges = ox.graph_to_gdfs(graph)`
#### length from 125845 to 36516
[code]
#### almost same rows
[code]
#### result
<img width="724" alt="screen shot 2018-10-21 at 10 28 11" src="https://user-images.githubusercontent.com/15140733/47268060-7d533200-d57e-11e8-8244-7319e05d6ad5.png">

[2018-10-22 14:02] RunOrVeith commented on #198
I guess this would be a good starting point https://blog.mapbox.com/matching-gps-traces-to-a-map-73730197d0e2

[2018-10-22 22:23] KayleeZhu opened #210 "Removing a set of edges and plotting the resulting graph"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Hi Geoff, it is really an amazing experience using OSMnx.
Now I want to do some subgraphs/patterns analysis so I want to remove the edges with culdesacs.
With your package, I can highlight the nodes with culdesacs and loops. What I want to do is to remove all the edges which contain culdesacs to

[2018-10-23 06:41] gboeing commented on #209
No, like I said in my response:

See the networkx documentation, for example [here](https://networkx.github.io/documentation/stable/reference/classes/generated/networkx.MultiDiGraph.edges.html) and [here](https://networkx.github.io/documentation/stable/reference/introduction.html#data-structure).

[2018-10-23 06:51] gboeing commented on #210
Best to ask these "how-to" questions on [StackOverflow](https://stackoverflow.com/search?q=osmnx). Here's a short snippet to demonstrate how to do this:

[code]

[2018-10-23 06:51] #210 closed

[2018-10-23 14:17] SqySimmon commented on #209
I got it, thanks.

[2018-10-23 14:17] #209 closed

[2018-10-23 21:56] KayleeZhu commented on #210
Sorry for posting the question here, I will do this on StackOverflow in the future.
Thanks so much for your reply.

[2018-10-27 01:21] yyan162 opened #211 "IOError: [Errno 9] Bad file descriptor"
Hi Sir,

I am started to use your library to do traffic network.

I have python 2.7 and have installed osmnx with conda. My computer is 64-bit. I use Spyder for analysis instead of jupyter.

The code I am running is a very basic one:

The code can be run without problem on a ipython kernel for the first time, but when I run it for a second time, the following message shows up:

[code]

The code is

[2018-10-27 13:52] gboeing commented on #211
This doesn't look like an OSMnx issue, but something with your environment. I'd strongly suggest installing OSMnx in a virtual environment (a python 3 one, to be specific) and then running the code again.

[code]

[2018-10-29 16:50] RunOrVeith opened #212 "graph_from_file silently ignores network_type"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

0. Download an osm file (I used [California](https://download.geofabrik.de/north-america/us/california.html)), and extracted a smaller bounding box from it using [osmconvert](https://wiki.openstreetmap.org/wiki/Osmconvert)
[code]
1. Load that file:
[code]

3. Result: G1 and G2 are the same, G3 co

[2018-10-29 19:28] #208 closed

[2018-11-03 23:37] RunOrVeith commented on #212
It would definitely be more clear and meaningful.
I am assuming to support the full functionality more or less all functionality of the overpass API would need to be implemented?

[2018-11-05 18:05] gboeing commented on #212
Correct.

[2018-11-17 01:46] chesterharvey commented on #116
@gboeing What do you think about generalizing the `amenities` parameter so you can retrieve features with other tags, too? I wrote a generalization in this branch that switches out `amenities` for `tags`, which takes a dictionary to query specific key:value pairs.

https://github.com/chesterharvey/osmnx/blob/master/osmnx/pois.py

For example, let's say you want to get all features with an `amenity

[2018-11-17 05:57] HTenkanen commented on #116
@chesterharvey There is actually an open issue for this feature, see #190. So definitely this is something that would be good and important to include.  Great that you worked on it! 👍 And the way you solved this issue follows more or less the discussion that we had with @gboeing.

[2018-11-17 23:02] #211 closed

[2018-11-17 23:05] gboeing commented on #116
@chesterharvey thanks! Following up on @HTenkanen's comment, would you take a quick look at #190 to see how your fork corresponds to the discussion there, and I'd be happy to review a pull request if you'll open one.

[2018-11-17 23:08] gboeing commented on #212
@RunOrVeith as this would be a quick patch, would you like to create a pull request along the lines of https://github.com/gboeing/osmnx/issues/212#issuecomment-434047009?

[2018-11-18 03:42] chesterharvey commented on #116
Thanks @HTenkanen and @gboeing for pointing out #190! Yes, my implementation is surprisingly similar, dictionaries and all. The biggest difference seems to be @HTenkanen's use of booleans to specify all or no values for a given tag key. I really like this; `True` is more intuitive than my use of `None` to specify all values, and `False` also intuitivly facilitates a NOT query.

Switching `None` to

[2018-11-18 22:01] RunOrVeith commented on #212
Yes, I can do it. Do you have a procedure for API deprecation?

[2018-11-18 23:59] gboeing commented on #212
Normally it would be nice to do a deprecation warning but in this case I think we can skip it and directly update the code.

[2018-11-19 00:58] ResidentMario opened #214 "Feature: submodule for dataset augmentation and feature joins"
### Background

I'm a big fan of the work that `osmnx` has done to make OSM data easy to get ahold of and use. It's definitely solidified itself as the best way to work with OSM data in Python.

However, many of the features that `osmnx` surfaces are, within specific geospatial contexts, easily available as open data. For example, `osmnx` makes it easy to get building footprints from OSM using the

[2018-11-19 04:16] ResidentMario commented on #214
I prototyped this a bit more, and some it requires complicated algorithms with non-trivial decisions on the part of the user, which I think _is_ outside of the scope of `osmnx`. So, closing this for now.

[2018-11-19 04:16] #214 closed

[2018-11-19 09:11] MustafaIsmaill commented on #198
@miskolc i have the same exact issue, have you managed to find a workaround or a solution for this? would really appreciate your reply.

[2018-11-19 09:14] RunOrVeith commented on #198
I'm running a docker container [serving osrm](https://hub.docker.com/r/osrm/osrm-backend/) to do this. It works well, but requires a bunch of boilerplate code.

[2018-11-19 10:08] YATPKU commented on #11
Hello!

I am trying to calculate basic street network measures (topological and metric)
# and trying to get the network for Piedmont, calculate its basic stats, then show the average circuity.
When I tried

stats = ox.basic_stats(ox.graph_from_place('Piedmont, California, USA'))
stats['circuity_avg']

It worked well. but when i replaced

stats = ox.basic_stats(ox.graph_from_place('Phnom Penh, Camb

[2018-11-19 11:14] MustafaIsmaill commented on #198
@RunOrVeith  thanks! that's really helpful

[2018-11-19 11:36] YATPKU commented on #11
Hello!
I had an error with shapely polygon or multipolygon, but it worked when I changed from place to address. In a next step, it failed when I put the address, so I changed to the place and it worked. However, coming to the next step, it showed another error:

#Calculate basic street network measures (topological and metric)
# get the network for Piedmont, calculate its basic stats, then show th

[2018-11-19 12:22] YATPKU opened #215 "osmx_divisionerror_float division by zero"
Hello!
I had an error with shapely polygon or multipolygon, but it worked when I changed from place to address. In 3rd next step, I added 'which_result=2' to avoid geometry error. In 4th step, it failed several times, but when removed 'area=area,' it worked but the results showed some missing value 'None'.

#1 get the network for Piedmont, calculate its basic stats, then show the average circuity

[2018-11-19 14:47] gboeing commented on #215
You are creating the graph of Phnom Penh using `which_result=2`. But you are created the GeoDataFrame (to get its area) using the default argument, ie `which_result=1`, which returns a point and thus has area=0. Hence you get a divide by zero error when you calculate densities. You need to consistently download the same result number for both operations, like:

[code]

[2018-11-19 14:50] #212 closed

[2018-11-24 06:57] MegaCreater opened #216 "Node data with all non-intersection nodes"
OSMNX simplify network to only retain the nodes that represent the junction of multiple streets. OSMnx does this automatically. But i want data of all node including non intersecting ones.
When we first download and construct the street network from OpenStreetMap, it looks something like this: https://i1.wp.com/geoffboeing.com/wp-content/uploads/2016/10/az-simplify-all.png?w=641&ssl=1

It simplify

[2018-11-25 03:00] MegaCreater commented on #216
i got it, thanks

[2018-11-25 03:17] MegaCreater commented on #216
''' i had developed this program to find out either a node is turn (left or right)  or not. but it is giving some node which are not the turns. I had used haversine and triangle cosine formula to get the angle of the turn and called less than 155 degree a turn (more or less gives more errors). is there any function which can tell either it is a turn or not?'''

import osmnx as ox, networkx as nx,

[2018-11-25 03:28] MegaCreater opened #217 "Node is turn or not"
''' i had developed this program to find out either a node is turn (left or right)  or not. but it is giving some node which are not the turns. I had used haversine and triangle cosine formula to get the angle of the turn and called less than 155 degree a turn (more or less gives more errors). is there any function which can tell either it is a turn or not?'''

import osmnx as ox, networkx as nx,

[2018-11-25 19:45] isfando opened #218 "ram fills to whole capacity"
I am trying to make graph from file(whole of finland) and my whole ram (8 gb ) gets filled up and the program is stuck at snail pace . How can i solve this issue.

[code]

[2018-11-26 14:20] MustafaIsmaill opened #219 "graph_from_place returns exception for the requested place"
The following code return an exception.

`import osmnx as ox`
`place_name = 'Universidad Carlos III de Madrid, Leganes, Spain'`
`graph = ox.graph_from_place(place_name, network_type='drive')`

Even though I used the nominatim API to make sure that my search string includes a closed area and not a point but still it returns an exception.
I also tried adding `which_result` argument but still I get t

[2018-11-26 14:42] gboeing commented on #217
The issue tracker is for reporting bugs and feature proposals. For how-to questions, or to get suggestions on your own code, please ask the StackOverflow user community: https://stackoverflow.com/search?q=osmnx

[2018-11-26 14:42] #217 closed

[2018-11-26 14:49] gboeing commented on #218
In general, your options are:

1. Acquire more RAM (either install more RAM in your machine, or use a cloud service like AWS with flexible memory). 8gb isn't much to work with, especially if you're trying to model an entire nation.

2. Create the graph model using a coarser-grained representation of the street network (such as primary roads and up). You can do this by using a custom filter when do

[2018-11-26 15:05] gboeing commented on #219
The query you're using seems to geocode to the auditorio rather than to the campus polygon. This query appears to work instead:

[code]

Sometimes it takes a little bit of fudging around with the query string to get the Nominatim geocoder's magic to work properly.

[2018-11-26 16:36] cbeddow opened #220 "Docs unclear: difference between edge length and street length"
I'm trying to see the difference between total street length and total edge length, from the basic stats.

When I sum the total edge length in the geometry, with 3857 projection, I get a higher number that the street length total. Can anybody help me explain the difference in how these are calculated?

I'm pulling the graph from a bbox, then trying to calculate total road length inside smaller gri

[2018-11-26 17:04] MustafaIsmaill commented on #219
well thanks for the reply!

[2018-11-26 17:04] #219 closed

[2018-11-26 17:18] gboeing commented on #220
OSMnx uses networkx MultiDiGraphs as the underlying network model. As these are directed graphs, all bidirectional streets are represented by two reciprocal directed edges. Total street length instead uses (essentially) an undirected version of this model to quantify how many linear meters of physical street exist in the study area. If every street in your network is bidirectional, total edge leng

[2018-11-27 06:25] MegaCreater opened #221 "plotting multiple graph routes error"
import osmnx as ox, networkx as nx, matplotlib.pyplot as plt, math as m
from haversine import haversine

org = (27.5075, 77.6779)
dst = (27.5067, 77.6694)
dist_fl = (int(haversine(org, dst)*1000))*2
G = ox.graph_from_point(org, simplify=False, distance=dist_fl)
orig_node = ox.get_nearest_node(G, org, method='euclidean')
target_node = ox.get_nearest_node(G, dst, method='euclidean')

nodes, edges =

[2018-11-27 06:34] MegaCreater commented on #221
'''but if we plot each route on different map the result is perfect. but i want to plot multiple route on single map.'''
import osmnx as ox, networkx as nx, matplotlib.pyplot as plt, math as m
from haversine import haversine

org = (27.5075, 77.6779)
dst = (27.5067, 77.6694)
dist_fl = (int(haversine(org, dst)*1000))*2
G = ox.graph_from_point(org, simplify=False, distance=dist_fl)
orig_node = ox.ge

[2018-11-27 11:10] isfando commented on #218
Thanks alot for the guidance.

[2018-11-27 11:10] #218 closed

[2018-11-27 12:11] isfando opened #222 "Visualize edge usage in routes"
Similar to your edge centrality tutorial
https://github.com/gboeing/osmnx-examples/blob/master/notebooks/08-example-line-graph.ipynb

I have a graph of finland
![finland real graph](https://user-images.githubusercontent.com/5813617/49081036-295afd80-f24e-11e8-956c-96ebd4690b16.png)

I want to color edges in the map of finland on the number of vehicles passing through an edge .
For example below ar

[2018-11-27 14:14] cbeddow commented on #220
@gboeing perfect, that makes sense. So I guess what I need is a way to get to total street length of a subsection. If I pulled the entire grey road network because I want to only make one large API call, then how can I calculate total street length for the bbox of just one smaller grid?

Right now I'm doing:

1. turn road into a gdf
2. get road_gdf.unitary_union.intersection(small_grid)
3. calcula

[2018-11-28 03:10] MegaCreater commented on #222
It can be done in folium
#map_ = folium.Map(location = old_market, zoom_start = 16)	#tiles = 'Stamen Watercolor' or 'OpenStreetMap'
and folium marker can be used to name the cities. You can save html out put.

[2018-11-28 10:51] gboeing commented on #222
@isfando for how-to questions like this, best to ask the user community at [StackOverflow](https://stackoverflow.com/search?q=osmnx) per the contributing guidelines. To add labels to your plot, OSMnx produces matplotlib fig, ax when it plots and you can then just use matplotlib to add labels or other plotting elements as usual.

[2018-11-28 10:51] #222 closed

[2018-11-30 16:00] miskolc commented on #198
@gboeing sorry I haven't been following this thread for a few month. Yes, I've implemented my own solution for my current company where I calculate the closest road to a coordinate and then pick the closest point on that road.

[2018-11-30 17:52] AtelierLibre opened #223 "Buildings with holes & other polygon data"
Hi Geoff,

I wanted to thank you for OSMnx, it has really started to open up quantitative urban analysis for me.

I'm pretty new to python and coding in general but after following your course information I'm hacking together some osmnx, pandas, geopandas, and shapely to try to quantify urban form (Site Coverage, Floor Area Ratio etc.) using OSM data at the scale of city blocks. I have a couple of

[2018-11-30 20:11] chesterharvey commented on #116
@gboeing Status update: I'm having trouble implementing a reliable `NOT` query, I think related to this known issue with Overpass that keeps popping up: https://github.com/drolbr/Overpass-API/issues/192

What this means in practice is that a tag dictionary like the one below, which is supposed to exclude any element with a `leisure` tag, ends up excluding *most* of them, but not all.

[code]
For e

[2018-11-30 22:02] MustafaIsmaill commented on #198
@miskolc can you clarify how did you manage to find the nearest road to a point or a coordinate without looking for the nearest node first?

[2018-11-30 23:42] miskolc commented on #198
@MustafaIsmaill I turn the OSM network graph into a GeoPandas DataFrame containing all roads in the regions I'm interested. Each row contains the road coordinates and from that It's simple computational geometry. I calculate the distance from the current point to the edges then pick the ones that is the closest.
There are a few catches though as initially the approach described above gave the corr

[2018-11-30 23:50] MustafaIsmaill commented on #198
@miskolc thank you for the info and great job!

[2018-12-03 03:02] ninehundred opened #224 "OSMNX - buildings_from_place - Missing Building Footprints"
#### Hi there,

Just wanted to say thanks first of all for the tool. Its been really fun so far!

The issue I'm having is basially that when I run the buildings from place command I'm getting a lot of blank areas.
The area I'm looking for is:
"Fitzroy, City of Yarra, Greater Melbourne, Victoria, Australia"
Now, while I do get a return on this many of the building footprints are missing (did a visu

[2018-12-03 11:52] AtelierLibre commented on #224
Hi ninehundred,

I'm pretty new here but, as someone interested in buildings on OSM perhaps I can help. You say you checked Google maps but did you check OpenStreetMap? Having a look at Fitzroy on OSM [https://www.openstreetmap.org/#map=15/-37.7867/144.9838] there really aren't that many buildings showing. As the data source for OSMnx presumably you get the ones that are showing?

It's one of OSM'

[2018-12-03 13:52] gboeing commented on #224
@ninehundred yes, as @AtelierLibre said, you cannot validate OSMnx's results against Google Maps because it is not pulling from Google Maps. Instead, go directly to https://www.openstreetmap.org/ and inspect your study area to see what data are actually there in OSM. What you see in OSM should show up when use OSMnx unless you're filtering certain objects out of the query.

[2018-12-03 13:55] gboeing commented on #223
Regarding 1, that's possible. Would you mind whipping up a MWE code snippet to demonstrate this issue? Regarding 2, that could be a nice idea. Perhaps generalizing it from `buildings` to `footprints`. Pull requests welcome!

[2018-12-03 13:57] gboeing commented on #220
A decent option would be to produce an undirected version of the graph, then sum the edge lengths (since they'll no longer have bidirectional duplicates): https://osmnx.readthedocs.io/en/latest/osmnx.html#osmnx.save_load.get_undirected

[2018-12-03 13:57] #215 closed

[2018-12-03 13:59] gboeing commented on #198
@miskolc do you have a gist or demonstration of your methodology? Is this something you'd be comfortable contributing to OSMnx as a pull request?

[2018-12-03 14:10] gboeing commented on #116
@mmd-osm do you have any insights on this?

[2018-12-03 14:17] mmd-osm commented on #116
drolbr/Overpass-API#192 was resolved in release 0.7.55.5, so this shouldn't happen anymore, if you're using overpass-api.de as a backend.

[2018-12-03 14:35] gboeing commented on #116
@chesterharvey if you're still experiencing this issue, could you produce an MWE in Overpass QL?

[2018-12-03 15:12] gboeing commented on #116
@chesterharvey also, feel free to open a PR in the meantime. We can always add more commits there, and it'll make discussion a little easier.

[2018-12-03 20:19] AtelierLibre commented on #223
Regarding 1. Sure, will do.
Regarding 2, that's great, wanted to check you were open to the idea. In reality it's going to take me a while to generate a pull request with the knowledge I have but would like to give it a go.
All the best,
Nick

[2018-12-04 00:53] ninehundred commented on #224
Hi Both,

Thanks for the replies!

Yes I'd checked open street map - it did appear that there were no orange building footprints of the areas I was trying to obtain but found it easier to compare visually using google as it was more certain that i wasnt looking at a bit of pavement etc.

I'm not filtering anything out as far as I'm aware.

With regards to additional research on this Id found that

[2018-12-04 11:41] MustafaIsmaill opened #225 "Is there a way of visualizing or representing two way or multiple lane roads?"
I am working on an autonomous vehicle project where I use OSMnx to extract the road information to use for path planning and navigation control, and when it comes to navigation in oneway roads it works perfectly. However, when it comes to multiple lane roads it is not very accurate due to the fact that multiple lane roads are represented as a single edge.

For example the edge (in red) shown here

[2018-12-04 13:49] gboeing commented on #225
@MustafaIsmaill the edges represent the node-to-node centerlines, so bidirectional streets have reciprocal directed edges laid atop one another, and multiple-lane roads are represented by a single line. This conforms to the OSM/OSMnx theoretical model of a street network, where nodes represent intersections/dead-ends and edges represent the street segments that link them.

OSM/OSMnx do not represe

[2018-12-04 13:51] gboeing commented on #224
Here's a good place to get started: https://wiki.openstreetmap.org/wiki/Contribute_map_data

[2018-12-04 13:51] #224 closed

[2018-12-04 13:53] gboeing commented on #221
It's not clear to me what I'm seeing here. Would you mind providing some more narrative detail of what's going on and what you're intending, for example using the issue template?

[2018-12-04 14:14] MustafaIsmaill commented on #225
@gboeing the parallel_point_shift here #162 seems to do it, but I think I am gonna need to know as well the width of each lane, so I wonder if there is a way to find out?
Also one more thing, the solution in #162 assumes only one lane for each direction although there might be more. I know I can use the `edges.lanes` column to know how many lanes are in each edge but usually the output is NaN as i

[2018-12-04 16:39] sephib opened #226 "Adding historical filtering and possibly animation"
Hi,

I'm thinking of adding historical data filtering and possibly animation ([similar to this project](https://github.com/MaZderMind/osm-history-renderer/blob/master/TUTORIAL.md)) to the project.

1. Have you thought of this issue?
2. Do you have any ideas how to display historical filter ? I guess it would be based on the [OSM guidelines ](https://wiki.openstreetmap.org/wiki/Open_Historical_Map)

[2018-12-04 17:13] gboeing commented on #225
Regarding number of lanes, yes you might want to impute/infer this from the highway tag as this metadata is spotty on OSM. Regarding lane widths, that data is not present but you could could impute/infer it as well based on standard urban design in your study area.

[2018-12-04 17:13] #225 closed

[2018-12-04 17:16] gboeing commented on #226
Hi @sephib I haven't looked into this much. The main reason is due to research design: it's tough to determine if new streets appeared over time on OSM because they were recently built in the real world, or if they were old streets that someone finally digitized in OSM. If you have a general use case for this or maybe a small code demo, I'll check it out, but I'm inclined to think this is outside

[2018-12-04 21:00] AtelierLibre commented on #223
# Buildings with holes

I've checked the tagging and this building is tagged as OSM guidelines i.e. building tag on the multipolygon relation which contains two polygons, one tagged role=outer the other tagged role=inner

[code]
visualised with

[code]
shows as  a solid building footprint and 'building_proj' shows two polygons one of 3019.6m2, the other of 1130.6m2 which would give a total of 4150

[2018-12-04 21:09] sephib commented on #226
The use case is to display the evolution of a network, in my case I would also like to see the latest relationship to the population /urban development.
I was planning to update some of the osm data with the `start /end date` tags and then try to use the osmnx to load the data in intervals of decade or some other date interval.

[2018-12-04 21:17] gboeing commented on #226
Presumably you can filter dates using those tags in the `custom_filter` argument as it already exists? https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_place

[2018-12-05 14:46] isfando opened #227 "ways ids for shortest path"
In a route we get a list of all the nodes from source to destination.

route = nx.shortest_path(G,origin_node,desitination_node, weight='length')

Is it possible to get all the osm way ids from source to destination

[2018-12-05 15:23] gboeing commented on #227
Yes it is. As the issue tracker is for reporting bugs or proposing new features, it's best to ask how-to questions at the user community on StackOverflow: https://stackoverflow.com/search?q=osmnx

[2018-12-05 15:23] #227 closed

[2018-12-05 17:19] ylzhouchris opened #228 "Footpaths on water"
#### Problem description

Hi, we are trying to use OSMNX to extract footpath in Boston.
We found that the Massachusetts Bridge is not included in the graph while it is walk-able. Is this a problem with OSM data? or did you do any filtering to footpaths on water.

Here's my code (Python 3):
[code]

Thanks!

[2018-12-06 22:46] sephib commented on #226
I'll check it out and update

[2018-12-09 15:07] YATPKU commented on #190
Hello Sirs,
@HTenkanen , @gboeing
I am a newbie, and I was trying to save amenity as shapefile for  GIS but failed. May you give me some advice?
Thank you very much!

[2018-12-09 15:13] HTenkanen commented on #190
Hi @YATPKU !

If you are new to using the package, you could take a look at these tutorials that shows how to:

1. [Download OSM data with OSMnx](https://automating-gis-processes.github.io/2018/notebooks/L6/retrieve_osm_data.html)
2. [How to save OSM data using OSMnx into Shapefiles](https://automating-gis-processes.github.io/2018/notebooks/L6/network-analysis.html#Saving-shortest-paths-to-disk)

[2018-12-10 09:43] YATPKU commented on #190
@HTenkanen

Thanks for your prompt reply. I really appreciate.
Thanks!

[2018-12-10 14:14] gboeing commented on #190
@YATPKU OSMnx [returns POIs](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.pois.pois_from_place) as a geopandas [GeoDataFrame](http://geopandas.org/reference/geopandas.GeoDataFrame.html), which can be directly [saved](http://geopandas.org/io.html#writing-spatial-data) to disk as a shapefile.

[2018-12-10 14:20] gboeing commented on #220
@cbeddow is this issue ready to be closed?

[2018-12-10 14:37] gboeing commented on #228
@ylzhouchris it looks like it's working correctly. I believe you just made your bounding box too small to include the nodes on the north side of the bridge, so it wasn't capturing it. Update your `distance` argument to say 700 meters and it should work.

[2018-12-10 14:57] gboeing commented on #221
@MegaCreater

[code]
![osmnx plot multiple routes different colors](https://user-images.githubusercontent.com/4977197/49740360-f8bd8f80-fc61-11e8-93ec-a679b0374b7a.png)

[2018-12-10 14:57] #221 closed

[2018-12-10 15:34] gboeing commented on #223
Ah yes. So the buildings module currently doesn't handle relations. It pulls in the data but just treats each as a polygon in the GeoDataFrame that it returns. As far as I can tell, these inner/outer multipolygon relations are relatively rare but they should be handled none the less.

Here (https://github.com/gboeing/osmnx/blob/master/osmnx/buildings.py#L171), we'd need to include a relation check

[2018-12-11 14:25] salilrsharma opened #229 "OSMNX not working with spyder"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
I am using Mac and from the terminal I could access the osmnx; however, osmnx features do not run from spyder. I am trying to use osmnx in a script to automate the process.
#### What operating system, architecture, Python version, and OSMnx version are you using?

OS: MacOS Mojave 10.14.1, python

[2018-12-11 16:20] gboeing commented on #229
If OSMnx is working when you run the regular `python` interpreter from your terminal, then it sounds like this probably isn't a bug with OSMnx. Might be best to ask on https://stackoverflow.com/ to get support for your specific spyder setup.

[2018-12-11 16:20] #229 closed

[2018-12-12 02:00] YATPKU commented on #190
@gboeing
Thank Prof. for your reply. I will try it and come back to you if it does not work.
Regards,

[2018-12-12 06:08] utkarshshukla2912 commented on #92
I got it solved by updating to shapely-1.6.4.post2 on MAC
`sudo pip3 install shapely -U`

[2018-12-12 17:46] cbeddow commented on #220
Yes, thank you. I will reference it in the future and re-open if I have question!

[2018-12-12 17:46] #220 closed

[2018-12-13 16:07] AtelierLibre commented on #223
Thanks for having a look at it and confirming and also for the pointer in how to fix it. As before, I don't think that I have all the knowledge necessary to do this at the moment.

I could do with a couple of pointers for getting a development environment setup. Am I on the right track if I fork, clone and branch osmnx, make a new conda environment into which I install its dependencies and then ru

[2018-12-13 18:36] gboeing commented on #223
@AtelierLibre yep that development environment setup is correct

[2018-12-13 18:41] AtelierLibre commented on #223
@gboeing great thanks

[2018-12-13 19:47] CordThomas opened #230 "save_graph_shapefile option to not include subdirectories"
The save_graph_shapefile creates possibly unnecessary layers of organizational structure.   Other save methods I have seen use folder and file to specify a containing folder and then name the shapefile the name passed, e.g., save_shape ('/data', 'my_shape') would create a shapefile my_shape.shp in the /data directory.

The current OSMnx implementation creates a folder my_shape, subfolders edges an

[2018-12-14 15:18] gboeing commented on #230
Thanks @CordThomas. The original reasoning behind the folder structure was to consolidate the collection of files (.shx, .dbf, .prj, etc, etc) that compose a "shapefile" into a single folder. As the nodes and edges each make up their own individual shapefile, I put them in separate subfolders. Thus, the path to the shapefile is the path to the subfolder containing its constituent parts.

For refer

[2018-12-14 15:19] gboeing commented on #228
@ylzhouchris just checking back -- is this issue resolved?

[2018-12-15 10:45] dean-rahman commented on #221
I get "TypeError: unhashable type: 'list'"

[2018-12-16 05:07] miskolc commented on #198
@gboeing I created a small PR with a functional method that finds the nearest road to a point. Now again this is not very efficient as you need to get the GeoDataFrame from the Graph every time you query for a coordinate. If you would want that functionality to be included in a future version of OSMnx please let me know. Maybe it would be better to talk via email.

[2018-12-18 08:25] littlestar565 opened #233 "Why the .prj is empty? saved from osmnx"
I tried to use the following statement to get the street information of the latitude and longitude range. However, the saved file does not get the latitude and longitude information of each node. Why?

In fact, I successfully acquired the Manhattan area, and the street information of the entire Beijing area was successful.
<details>

![image](https://user-images.githubusercontent.com/28550249/5014

[2018-12-18 09:01] littlestar565 commented on #233
I have read your guidance document, modified the code, and now I have solved this problem, but I still don’t understand what their differences are.

north, south, east, west = 40.03, 39.83, 116.46, 116.26
G3 = ox.graph_from_bbox(north, south, east, west, network_type='drive_service')

[2018-12-18 19:13] gboeing commented on #233
I ran your original code:

[code]

And the contents of the nodes.prj file look right:

[code]

[2018-12-18 19:13] #233 closed

[2018-12-19 04:56] samuelduchesne commented on #198
@miskolc and @gboeing, I had to calculate 100k+ nearest edges for one of my projects and I created a custom function that implements the ckdtree algorithm. When I stumbled upon this issue, I decided to give it a try and propose my solution.

I kept @miskolc's proposal as a fallback when the *method* name is not given. You will see that @miskolc's method is indeed much slower because the GeoDataFra

[2018-12-21 05:47] akshayah3 commented on #198
@samuelduchesne I have a very similar use case of matching a GPS trail to the corresponding edge of the graph. But in my case the GPS is inaccurate by a few meters and which results in the point being on the other side of the road. Then if I use the nearest node/edge it would give me the road on the other side of my actual road. I was thinking of calculating the bearing of my origin and destinatio

[2018-12-22 18:50] samuelduchesne commented on #198
@akshayah3, what Do you mean by “the other side of the road”? Can you illustrate it?

[2018-12-22 22:38] MustafaIsmaill commented on #198
@samuelduchesne I think you have to implement the hidden markov model in your code which includes finding the nearest nodes/edges. It also allows you to calculate a probability for the transition between roads/edges for which if gps point P(t) has been matched to road A, the probability of gps point P(t+1) being matched to road B would be low even if it is the closest, this is because changing fro

[2018-12-24 23:38] miskolc commented on #198
Indeed an HMMs is the most common to solve the problem of mapping a stream of GPS tracking locations from a producer to their actual coordinates. Uber has a nice [presentation](https://www.youtube.com/watch?v=ChtumoDfZXI) on how they are doing it.

However this assumes you are actually working with multiple coordinates from the produced by the same entity (device/user). If you just want to match o

[2018-12-24 23:43] huesmiles49 commented on #45
@hanleybrand thank you! installing spatialindex fixed the problem

[2018-12-30 01:45] yuvrajbokhre4 opened #237 "TypeError: __init__() takes 1 positional argument but 2 were given"
from tkinter import *
from tkinter.font import *
from Database import *
from tkinter import messagebox

class Insert_user:
    def call(self,event=None):
        self.top = Tk()
        self.top.title('Insert New User')
        self.width = self.top.winfo_screenwidth()
        self.height = self.top.winfo_screenheight()
        self.xposition = (self.width / 2) - 150
        self.yposition = (self

[2018-12-31 14:44] gboeing commented on #237
This doesn't appear to be related to OSMnx. To open an issue, please completely fill out the new issue template.

[2018-12-31 14:44] #237 closed

[2018-12-31 14:44] #228 closed

[2018-12-31 14:44] gboeing commented on #226
@sephib let me know if this issue needs to remain open

[2018-12-31 15:58] gboeing commented on #198
Thanks everyone. Just to summarize, we have two PRs open. #231 and then #234 which builds on the former. They're in code review, and I'll merge them when that's done. For now, please take a look at them and share any relevant comments. Thanks!

[2018-12-31 16:51] gboeing commented on #223
Development happening over in PR #236

[2019-01-03 12:29] PFerrix opened #239 "Unable to control edge_alpha in ox.plot_graph"
(what did I do, what did I expect to happen, and what actually happened)

Hello @gboeing,

thanks for the amazing repo!

I am using osmnx and networkx to visualize bicycle displacements in a given city. Instead of using the plot_routes command, I created a dataframe with the edges hit by cyclists, so that I can change the node_color, node_size, edge_color and edge_linewidth in the Graph according

[2019-01-03 13:34] gboeing commented on #239
You are passing `plot_graph()` an `edge_alpha` value of type `list` when as you can see in the docstring, it requires type `float`: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.plot.plot_graph

You didn't post your full error traceback, so some of this is guesswork, but this error is probably being thrown in matplotlib as I believe matplotlib requires a scalar for the alpha argument (he

[2019-01-03 14:17] PFerrix commented on #239
Thanks,

I am surely going to try with RGBA! Still, I don't get why my code works fine with `edge_linewidth`: I am passing a `list`, while it should accept only a `float` (as `edge_alpha`).

Here goes my full error traceback, sorry!```

[code]

[2019-01-03 15:18] gboeing commented on #239
Downstream, matplotlib allows a list on linewidths but it does not allow a list of alphas.

[2019-01-03 16:27] #239 closed, assigned to nobody

[2019-01-07 00:19] AtelierLibre commented on #223
@gboeing Regarding point 2 - the generalising of 'buildings' - I have a branch where I have hacked together a working version as a new module called 'footprints' [https://github.com/AtelierLibre/osmnx/tree/Footprints](url)

Can I just check, when you suggested 'footprints' above [https://github.com/gboeing/osmnx/issues/223#issuecomment-443717646](url) was that for a new (largely duplicated) module

[2019-01-07 19:35] gboeing commented on #223
@AtelierLibre it would be to replace the `buildings` module with a new `footprints` module. The `buildings` module should be retained for now, with its functions issuing deprecation warnings when called. The new `footprints` module can duplicate its functionality, but replace "buildings" terminology with "footprints" terminology. The `footprints_from_x` functions could then take a new `footprint_t

[2019-01-07 19:55] gboeing commented on #198
Closed in #231 and #234.

[2019-01-07 19:55] #198 closed

[2019-01-07 19:56] gboeing commented on #116
@chesterharvey just checking to see if this is still active and if you're interested in opening a PR?

[2019-01-07 19:58] gboeing commented on #230
If there's any other interest in this proposal, I'm open to someone opening a PR. Otherwise if not we can close this.

[2019-01-07 20:10] AtelierLibre commented on #223
@gboeing great, that's all clear, thanks for the detailed response

[2019-01-07 22:02] CordThomas commented on #230
I have no objection to closing.   If i revisit, I'll create a PR.

On Mon, Jan 7, 2019 at 11:58 AM Geoff Boeing <notifications@github.com>
wrote:

[2019-01-07 22:02] #230 closed

[2019-01-08 17:36] chesterharvey commented on #116
Sorry, I let this slide for a while. I'm opening a PR now. My modified `osm_poi_download` and `pois_from_place` functions have optional parameters to return the Overpass queries constructed from the input tag dictionaries so they can the troubleshooting, if necessary.

[2019-01-09 13:12] gboeing commented on #190
Moving this conversation to PR #240 (see also recent discussion in #116).

[2019-01-09 13:12] #190 closed

[2019-01-14 00:55] AtelierLibre commented on #223
Further development in PR [#241](https://github.com/gboeing/osmnx/pull/241)

[2019-01-16 01:00] shriv opened #243 "Include colourbar for elevation plots"
I've been following the excellent tutorial [here](https://github.com/gboeing/osmnx-examples/blob/master/notebooks/12-node-elevations-edge-grades.ipynb) on plotting the street gradients. However, there seems to be no option to set a colourbar with the grade values. Am I missing something? Or is this a new feature request? :-)

Thanks!
Shrividya

[2019-01-16 20:22] gboeing commented on #243
OSMnx has no built-in colorbar functionality. However, the plotting functions return a matplotlib figure, axis (as a tuple), which you can then use matplotlib directly to add a colorbar to them: https://matplotlib.org/api/colorbar_api.html

[2019-01-16 20:22] #243 closed

[2019-01-17 21:27] bsnyh opened #244 "Gtk-Message: 22:26:30.504: Failed to load module "atk-bridge" Gtk-Message: 22:26:30.507: Failed to load module "canberra-gtk-module""
If you're having trouble with OSMnx, first search the previously opened issues to see if the problem has already been noted. If not, fill in the template below:

#### Problem description (what did you do, what did you expect to happen, and what actually happened)
I installed the package under the OSMNX environment. I'm running a simple example with only two lines of code as the following:

import

[2019-01-17 22:23] gboeing commented on #244
This doesn't appear to be an issue with OSMnx, but rather with your installation of GTK. Did you try googling it and following the suggested steps, such as [this](https://askubuntu.com/questions/342202/failed-to-load-module-canberra-gtk-module-but-already-installed)?

[2019-01-17 22:23] #244 closed

[2019-01-19 04:16] linksean410284 opened #245 "I am trying to use the in_degree_centrality to retrieve a node with maximum in-degree but I was getting error"
The issue tracker is for reporting bugs and feature requests. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're having trouble with OSMnx, first search the previously opened issues to see if

[2019-01-20 20:46] ahmedtiko96 commented on #198
can you make the get_nearest_edge() function available in the osmnx pip install?
I can already use it perfectly as i updated to my local utils.py file but it will be helpful for my team so that they have it directly when they install it using pip.
Thank you!

[2019-01-20 21:15] gboeing commented on #198
@ahmedtiko96 this will be included soon in the next release, after #240 is also merged

[2019-01-24 10:18] Olsiv opened #246 "Plot a specific (not shortest) route ?"
can i plot a route which is not the shortest?
[code]

[2019-01-24 12:18] omrakn opened #247 "not implemented for multigraph type"
When running eigenvector centrality by nx.eigenvector_centrality following error is produced: NetworkXNotImplemented: not implemented for multigraph type.

Closeness and betweenness centrality modules are working without any problem.

I've already checked #178, #8 and #157 but they didn't help.
I'm using osmnx version 0.8.2, networkx 2.2 and python 3.6.6

[code]

[2019-01-24 13:22] gboeing commented on #246
Per the [contributing guidelines](https://github.com/gboeing/osmnx/blob/master/CONTRIBUTING.md), the issue tracker is for bug reports and new feature proposals. Please ask "how-to" questions on [Stack Overflow](https://stackoverflow.com/search?q=osmnx).

[2019-01-24 13:22] #246 closed

[2019-01-25 19:23] CordThomas opened #248 "Getting inconsistent fields in shapefiles returned from graph_from_bbox"
I am doing analysis on street networks in Los Angeles County.   I am using the method graph_from_bbox and saving to a Shapefile.  Because of the extent of the data, I have to make 16 requests to cover all of LA County.   When i tried to merge the 16 Shapefiles together as one I noticed that they had inconsistent fields.  I loaded into QGIS and verified this.

Following is the relevant code I am us

[2019-01-26 12:31] gboeing commented on #248
Specifically which fields are inconsistent?

[2019-01-26 15:54] CordThomas commented on #248
Sorry, thought i included the error - i am using Fiona to merge the 16 tiles.  On attempting to merge the first two, i get the error below.  As I mentioned, i loaded the Shapefiles in QGIS and confirmed these inconsistencies from the downloaded OSM data.

ValueError: Record does not match collection schema: odict_keys(['access', 'bridge', 'from', 'highway', 'junction', 'key', 'lanes', 'length', 'm

[2019-01-26 16:55] gboeing commented on #248
Hi @CordThomas:

Note that OSMnx does this automatically for you. If you just query using the bounding box of LA county, or the polygon of LA county's borders, OSMnx will subdivide it into multiple queries if it has to in order to stay within the API's memory limits:

[code]

Regarding your code snippet, I can't reproduce it because it's not a standalone MWE and I can't guess what is happening els

[2019-01-26 18:32] CordThomas commented on #248
Thanks for the tip; I noticed that a while ago and forgot about it.

If you want, here is the full script - you would just need to replace the config[] sections with local file paths...   But only if you were curious.  I am going to shift to using the caching method.

https://github.com/CordThomas/commute-justice-analysis/blob/master/network/get_osm_data.py

[2019-01-26 19:52] CordThomas commented on #248
I have updated my code to use your suggested approach.   It broke the request into 20.   It makes good progress but then the process is killed - think something is hitting the limits of my docker container...

...
Creating networkx graph from downloaded OSM data...
Graph was not connected, retained only the largest weakly connected component (1,252,986 of 1,465,714 total nodes) in 126.12 seconds
C

[2019-01-26 20:37] gboeing commented on #223
closed by #236

[2019-01-26 20:37] #223 closed

[2019-01-26 21:05] gboeing commented on #248
Probably need to provision more memory for your container.

[2019-01-28 16:43] gboeing commented on #198
This has been released in v0.9

[2019-01-28 20:58] gboeing commented on #248
@CordThomas ready to close this issue?

[2019-01-28 21:05] CordThomas commented on #248
Yes, please close.  As feedback or for future users, I am now exactly 48 hours into running my script that has spent most of this time processing the simplification "Begin topologically simplifying the graph...".  I am on a 2016 MBP (2.7 GHz Intel Core i7) in docker with 4 CPU and 10 GB memory provisioned.   This is for a 2 degree x 2 degree bounding box in LA County.

[2019-01-28 21:05] #248 closed

[2019-01-29 01:56] CordThomas commented on #248
Definitely something different then.  I restarted the process and it's now
been running for over 2 hours.

Is it possible because I am pulling a lot more infrastructure?

Again, my code is
https://github.com/CordThomas/commute-justice-analysis/blob/master/network/get_osm_data.py
- updated

On Mon, Jan 28, 2019 at 1:12 PM Geoff Boeing <notifications@github.com>
wrote:

[2019-02-02 22:18] CordThomas commented on #248
So, i did not know that python/docker would not throw an out of memory error.  I had provisioned my docker container with 6 GB which I had thought would be enough.   On adding some additional logging, I noticed that the networkx graph copy happens 3 times and doesn't seem to return memory.   So, in the 3rd copy, it froze at using 5.99 GB of memory.  Increasing to 8 GB resolved the problem.

[2019-02-02 22:34] gboeing commented on #248
Good catch on copying/memory issue. Want to open a new issue to document it?

[2019-02-03 01:48] CordThomas opened #250 "Using graph_from_bbox with the simplify option seems to consume a lot of memory"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I was running the graph_from_bbox method to download a superset of Los Angeles County streets. I wanted the network simplified.    The network downloads over 2,000,000 edges.  The process was freezing midway through in a docker container with 6 GB RAM.   After digging into the code, I noticed tha

[2019-02-03 14:48] qwer345345 commented on #203
Hi all
I have a question here with osmnx, when i apply ox.graph_from_place function, it always returns the error
![image](https://user-images.githubusercontent.com/39678864/52178114-a6649f00-27ca-11e9-97a4-8c17b36f0740.png).
I tried the codes mentioned previously, as shown following, but it still doesnt work and returns the same error. Can someone give me some advice?
![image](https://user-images.

[2019-02-03 18:45] qwer345345 opened #251 "OSMnx graph_from_place"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Hi! I'm a beginner with python, now I'm working with osmnx package, when I dealt with function graph_from_place, here always comes the error 'RuntimeError: b'no arguments in initialization list''

#### What operating system, architecture, Python version, and OSMnx version are you using?
I work on

[2019-02-04 17:18] CordThomas commented on #250
I will track those call sources down again and report here.

On Mon, Feb 4, 2019 at 6:29 AM Geoff Boeing <notifications@github.com>
wrote:

[2019-02-07 11:54] bsnyh opened #252 "ImportError: libkea.so.1.4.7: cannot open shared object file: no such file or directory"
You probably have already saw this from stackoverflow. But I would really appreciate it if you can take a look of this again. I know how to run it using coda virtual environment. But as I plan to call this osmnx module from julia. The virtual environment created by conda can not be used.

I am installing package OSMnx following this link: https://geoffboeing.com/2016/11/osmnx-python-street-network

[2019-02-07 13:02] megstanley opened #253 "graph_from_point with network_type="bike" loses many roads and cycleways"
Calling graph_from_point in Central London, with and without network_type="bike". Many of the network components that are known to be cycleable are lost.

Ubuntu 18.04.1, Python 3, and OSMnx 0.9

#### Environment

<details>
Package          Version
---------------- -----------
altair           2.3.0
asn1crypto       0.24.0
attrs            18.2.0
backcall         0.1.0
boto3            1.9.89
boto

[2019-02-07 13:56] gboeing commented on #253
@megstanley can you provide the OSMIDs of some of the example ways on OpenStreetMap that are cycleable but are not appearing in your graphs? I'll check them out.

[2019-02-07 13:58] gboeing commented on #252
Did you install OSMnx in a virtual environment? Per [the documentation](https://osmnx.readthedocs.io/en/stable/#installation):

[2019-02-07 16:59] megstanley commented on #253
I am not able to get hold of them at the moment -- but in the example code I have placed above, the two figures show a big loss of network between the first and the second, where the second is from network_type = bike. However, most of the lost network is regular roads where cycling is definitely permitted.

[2019-02-07 17:09] gboeing commented on #253
@megstanley as I'm not familiar with the area, I'd need some OSMIDs of example ways that you believe are incorrectly missing in the bike graph, to do some investigation.

[2019-02-08 07:36] megstanley commented on #253
OK, I can give some OSMIDS:
ways
54254170
54254168
which are part of a cycleway and
651852808
which is a trunk road but has a cycleway shared with a busway.

[2019-02-08 14:15] gboeing commented on #253
@megstanley it looks like it's all working properly to me. In your code snippet, you have `retain_all=False` (which is the default parameterization), so OSMnx only retains the largest connected graph component.

If you set `retain_all=True`, you will see those 3 OSMIDs you listed do appear in this graph. However, this graph won't be fully connected, because there are some ways tagged on OSM as "fo

[2019-02-08 14:29] megstanley commented on #253
This makes sense! Thank you!

[2019-02-08 14:29] #253 closed

[2019-02-08 14:35] #251 closed

[2019-02-08 15:04] gboeing commented on #252
@bsnyh this appears to be an issue with the conda-forge installation of fiona. Would you mind opening an issue in that feedstock: https://github.com/conda-forge/fiona-feedstock/issues

[2019-02-08 15:04] #252 closed

[2019-02-09 16:32] Senousi opened #254 "TypeError: unhashable type: 'list'"
This issue tracker is for reporting bugs or proposing new features. Please ask "how-to" questions on https://stackoverflow.com/ instead. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're havi

[2019-02-09 16:33] #254 closed

[2019-02-09 16:38] Senousi opened #255 "TypeError: unhashable type: 'list'"
This issue tracker is for reporting bugs or proposing new features. Please ask "how-to" questions on https://stackoverflow.com/ instead. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're havi

[2019-02-09 18:12] gboeing commented on #255
Do not simplify your graph when you first create it if you want to manually simplify it later:

[code]

[2019-02-10 07:51] Senousi commented on #255
Firstly thank you very much.
 I need an illustration of concerning the number of edges. where the number of edge for the original network graph in my code without using the `simplfy_graph` method.

import geopandas as gpd
Bj_edges_walk_gpd = gpd.read_file(r'****\data\network_walk_projected\edges\edges.shp')

print(Bj_edges_walk_gpd.shape)

Bj_edges_walk_simpl_gpd = gpd.read_file(r'****\data\networ

[2019-02-11 21:23] CordThomas commented on #250
Finally got around to it.   I used traceback to find all calls to G.copy() in multigraph.py.

G.copy() is called the following times for the method graph_from_bbox() with simplify=True:
	core.py line 965 in truncate_graph_bbox()
	simplify.py line 232 in simplify_graph()
	core.py line 965 in truncate_graph_bbox()

It seems the last one is the one that caused me the problem (did not have time to gar

[2019-02-12 10:33] Hartry opened #256 "KeyError: 'geometry', ox.footprints_from_point"
Hi :-)
 I m trying to get the node of this coordinate

add_kard  : (2.379921, 48.9141959)

d = ox.footprints_from_point(add_kard ,distance=10)

I get this error..
KeyError: 'geometry', I do not understand  why

[2019-02-12 14:11] gboeing commented on #256
You are querying for a point in the middle of the Indian Ocean because you have represented your point as (longitude, latitude) rather than (latitude, longitude).

[2019-02-12 14:17] gboeing commented on #255
Without a standalone complete MWE it's impossible to guess the content of those files or what's going on there. The issue tracker is for reporting bugs in OSMnx or proposing new features. For how-to questions, please ask on [StackOverflow](https://stackoverflow.com/search?tab=newest&q=osmnx).

[2019-02-12 14:17] #255 closed

[2019-02-13 00:42] mxndrwgrdnr opened #257 "export to osm xml or .pbf?"
Hey @gboeing, any plans to add support for exporting an osmnx network back out to an OSM-based format? Many network modeling platforms expect an OSM-formatted network, so it would be great to be able to load a network with osmnx, use osmnx's geometry simplification capabilities, for example, and export back out to an OSM-supported format to use with a different platform. Do you have any suggestion

[2019-02-13 01:01] gboeing commented on #257
No current plans to add functionality to export back to OSM XML. However, if you end up putting this sort of workflow together for your own purposes, a PR would certainly be welcome. Regarding suggestions, you might want to check out the class here: https://github.com/gboeing/osmnx/blob/master/osmnx/utils.py#L1165

[2019-02-14 04:27] mxndrwgrdnr commented on #257
OK cool. I'm gonna take a stab at something in the couple days for my own use and I'll submit a PR if it seems to work reasonably well.

[2019-02-14 21:43] gboeing opened #258 "Install OSMnx in a new clean virtual env or run it in the Docker container"
It can be tricky to install OSMnx sometimes. Although OSMnx itself is pure python, several of its dependencies have C extensions that require compilation. You can usually avoid any issues by installing OSMnx into a new clean environment with conda-forge:

[code]

If you don't want to install OSMnx locally, you can instead now run it directly from this [docker container](https://hub.docker.com/r/gb

[2019-02-14 21:51] gboeing commented on #258
cc #251 #203 #197 #191 #180 #118 #110 #92 #45 #32 #28 #27 #25 #13 #7

[2019-02-14 21:51] #258 closed

[2019-02-14 21:57] #256 closed

[2019-02-15 19:41] gboeing commented on #153
For folks looking for faster graph analysis, I'd recommend the following workflow as demonstrated in this [OSMnx + igraph example](https://github.com/gboeing/osmnx-examples/blob/master/notebooks/18-osmnx-to-igraph.ipynb):

  1. Download and construct a NetworkX graph using OSMnx
  1. Export NetworkX -> igraph
  1. Conduct fast centrality analysis etc in igraph

This can be done easily by adapting

[2019-02-17 15:38] luthieisilra commented on #8
I've already try all of the above and still get this: Command "python setup.py egg_info" failed with error code 1 in /private/tmp/pip-req-build-uvhyrjci/

[2019-02-17 17:43] gboeing commented on #8
@luthieisilra please open as a new issue, filling out the complete new issue template

[2019-02-23 09:55] juliamgomes opened #261 "Feature Request - RTree Implementation of Nearest Edge"
I would like to create a more efficient implementation of the function `osmnx.utils.get_nearest_edge`, which currently uses the following algorithm:

def get_nearest_edge(G, point):
    """
    Return the nearest edge to a pair of coordinates. Pass in a graph and a tuple
    with the coordinates. We first get all the edges in the graph. Secondly we compute
    the euclidean distance from the coord

[2019-02-23 13:56] gboeing commented on #261
@juliamgomes thanks, this might be a good idea. Note that the `get_nearest_edges()` function already [uses trees](https://github.com/gboeing/osmnx/blob/master/osmnx/utils.py#L621) (optionally either a balltree or a kdtree) for faster search. One of those index data structures might work better than an rtree. But more broadly, when you say:

The `get_nearest_edges()` function already exists to allo

[2019-02-23 18:04] juliamgomes commented on #261
Thanks for the quick response! Does `get_nearest_edges()` work for real-time systems? It seemed limited in the sense that I would have to provide a list of coordinates in advance, and if I were to give the function one point at a time, then it would reconstruct the kdtree every time I call it. I was hoping for a system that would instead store the tree once and later be able to quickly find the ne

[2019-02-27 11:28] JulienTh opened #262 "Connectivity error (graph from polygon)"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Hi,
I would like to use OSMnx to automatically get the graph associated with satellite maps that I download from USGs (https://earthexplorer.usgs.gov/). I’ve downloaded orthoimages with a shapefile from which I extract the coordinate of a polygon.  After that, I’m projecting it on WGS 84 (espg:432

[2019-02-27 14:12] gboeing commented on #262
Your bounding box:

[code]

is in the middle of the Rocky Mountains: https://www.google.com/maps/search/38.745183,-104.988493

There are no streets within it, so you get a null graph. You should use try/except in you code to handle geometries in your shapefile that cover regions with no street network data.

[2019-02-27 15:14] JulienTh commented on #262
It was supposed to be in the city Colorado Spring. I think I might have misread the dbf file (mapsZone.geometry.iloc[0]). I'm going to further that.
Thank you very much for your fast and precise answer.

[2019-02-27 15:14] #262 closed

[2019-02-27 16:26] Renton2017 opened #263 "AttributeError: module 'osmnx' has no attribute 'footprints_from_place'"
**#### Problem description (what did you do, what did you expect to happen, and what actually ####happened)**

Hello everybody,
I am trying to run the code as per Github example:

Unfortunately I got the following error:

AttributeError                            Traceback (most recent call last)
<ipython-input-12-8896bb10f9f1> in <module>()
----> 1 gdf = ox.footprints_from_place(place='Emeryville

[2019-02-27 16:36] gboeing commented on #263
@Renton2017 yes, per [the change log](https://github.com/gboeing/osmnx/blob/master/CHANGELOG.md), the `buildings` module was deprecated in favor of a new `footprints` module in v0.9. The `buildings` module will be fully removed in v0.10.

If you're using OSMnx<0.9, then use `ox.buildings_from_place`. If you're using OSMnx>=0.9, then use `ox.footprints_from_place`. See [the documentation](https://o

[2019-02-27 16:36] #263 closed

[2019-02-27 16:42] Renton2017 commented on #263
Hi @gboeing , many thanks for the clarifications,
I will use the code suggestions, you sent me. Sorry if I do not have read carefully. Regards.
Andrea

[2019-02-27 17:16] gboeing commented on #261
@juliamgomes good point. `get_nearest_edges` constructs a new tree each time it's called. It might be useful to generalize this existing function to construct a tree if one doesn't already exist, then cache it somewhere for future calls to reuse?

[2019-02-27 17:19] trakru opened #264 "Docker launch failure when using Git Bash (source path doesnt exist)"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Used the docker installation instructions at https://hub.docker.com/r/gboeing/osmnx to launch osmnx. However when used the following command to run the Docker container

Git Bash threw up an error

The source path "C:/_mydirectory_;C"
doesn't exist and is not known to Docker.

#### Attribution

Fu

[2019-03-02 07:10] adwayish commented on #261
@gboeing yes, I think separating index creation from `get_nearest_edge` is a good idea, I also agree with @juliamgomes idea of having a class for spatial graphs. I think  the approach that makes more sense to me is having a `SpatialGraph (nx.MultiDiGraph)` class for nearest neighbour queries, and it would be responsible for creating and caching the index. Regarding which type of index to use, the

[2019-03-02 13:21] juliamgomes commented on #261
@gboeing @adwayish I totally agree, it’s better to use the tree structures that are already provided. Based on the feedback above, I would propose the following modifications:

- Add a `construct_spatial_index` function that can convert a graph to a tree structure of the user’s choice (eg kdtree, balltree, rtree). Developers can choose how to cache or store this tree independently
- Add optional `

[2019-03-09 07:48] schoeller opened #265 "Edge grades are negative"
Hello,

thanks for this superduperuseful package. When fetching and equipping a road network like below

[code]

Some edges have a negative grade. Not knowing about neither osmnx, networkx I reversed the order through the following function

[code]

If there are more gentle ways of doing whatever I have, please correct. Otherwise I suggest that edge direction should be adjustable when calling ox.a

[2019-03-18 11:29] saveriogzz commented on #252
Good morning,
I have the exact same error! Did you maybe solve it?

Thank you

[2019-03-18 11:44] gboeing commented on #252
@saveriogzz can you provide the specific steps you tried in installation? Also can you provide the output of `conda info` and `conda list`?

[2019-03-18 23:25] saveriogzz commented on #252
Good evening @gboeing, actually on Mac High Sierra the errors I receive are quite different.
I'm attaching the standard outputs as reference. I'm not much familiar with the usage of different environments and installing packages.. I do apologize!

Thank you very much!

[conda_info.txt](https://github.com/gboeing/osmnx/files/2980867/conda_info.txt)
[conda_list.txt](https://github.com/gboeing/osmnx/

[2019-03-19 01:06] gboeing commented on #252
@saveriogzz per the [OSMnx docs](https://osmnx.readthedocs.io/en/latest/#installation) try
[code]

[2019-03-19 18:32] saveriogzz commented on #252
hi @gboeing, i tried but now the error is:

In [1]: import osmnx
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-771da528bb5b> in <module>
----> 1 import osmnx

/anaconda3/lib/python3.7/site-packages/osmnx/__init__.py in <module>
      7 #########################################

[2019-03-19 18:43] gboeing commented on #252
@saveriogzz it does not look like you're working in the virtual environment here. For example, the traceback shows that the path to OSMnx is `/anaconda3/lib/python3.7/site-packages/osmnx/init.py` which is the root/base environment, rather than the new environment named `ox` which was created when you ran `conda create -n ox -c conda-forge --strict-channel-priority --yes python=3 osmnx`.

Try to ru

[2019-03-21 15:12] gboeing commented on #261
@juliamgomes I think this is a good idea.

[2019-03-21 15:19] gboeing commented on #264
@trakru thanks for figuring this out!

I'm a little hesitant to change the documentation to cover every individual command-line shell like Git Bash, as there may be many alternatives out there (such as Powershell, etc). My goal is to have the documentation on Docker Hub reflect how to run the container using the platform default terminals of Windows command prompt, Max terminal, and Linux terminal

[2019-03-21 15:22] gboeing commented on #265
As this is a directed graph, edge grades can be negative for directed edges that point downhill. For the absolute value of the edge grade (to always get a positive value), see the `add_absolute` argument: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.elevation.add_edge_grades

[2019-03-21 15:22] #265 closed

[2019-03-22 08:51] schoeller opened #266 "Plot direction of edges"
Dear all,

thanks for this wonderful toolbox.

I am using OSMNX in order to generate a first sketch for a drainage network layout based on a road network and a custom elevation model. I am missing the possibility to draw edge directions for verifying results. Any suggestions on how to do this are highly welcome.

Best regards

Sebastian

[2019-03-22 13:41] PedrosWits commented on #261
I think that `SpatialGraph (nx.MultiDiGraph)` is a great idea! It will require considerable refactoring, but I think it's worth it in the long run.

In the meantime, I agree with @juliamgomes . It's worth pointing out that it's up to the user to build the index (using `construct_spatial_index` or the sklearn API), store in a variable and pass it to `get_nearest_edges`. Naturally, advanced users wi

[2019-03-22 15:25] gboeing commented on #266
Best to ask how-to questions on [StackOverflow](https://stackoverflow.com/search?q=osmnx) as the issue tracker is for bugs, per the contributing guidelines.

[2019-03-22 15:25] #266 closed

[2019-03-29 10:01] svenfpunkt opened #267 "Calculate complete Distance of shortest path"
Hello,
I am trying toi calculate the distance of the calculated shortest path.
But I get an Error in the distance calculation.

My Code:
place_name = "Köln, Germany"
graph = ox.graph_from_place(place_name, network_type='drive', simplify=True)
edges = ox.graph_to_gdfs(graph, nodes=False, edges=True)

orig_xy = (50.838373, 7.072758)
target_xy = (50.898464, 7.042262)

orig_node = ox.get_nearest_node(

[2019-03-29 13:03] gboeing commented on #267
Use [this function](https://networkx.github.io/documentation/stable/reference/algorithms/generated/networkx.algorithms.shortest_paths.generic.shortest_path_length.html#networkx.algorithms.shortest_paths.generic.shortest_path_length) to calculate shortest path lengths.

[2019-03-29 13:03] #267 closed

[2019-03-29 14:06] svenfpunkt commented on #267
Hello Geoff,

this function gives me only the number of segments not the distance in km.

Greatings Sven

Von: Geoff Boeing [mailto:notifications@github.com]
Gesendet: Freitag, 29. März 2019 14:03
An: gboeing/osmnx
Cc: Fanghänel Sven (Post Direkt); Author
Betreff: Re: [gboeing/osmnx] Calculate complete Distance of shortest path (#267)

Use this function<https://networkx.github.io/documentation/sta

[2019-03-29 14:08] gboeing commented on #267
Use the `weight` argument to get the geometric distance, the same as you did in your code snippet.

[2019-03-29 14:13] svenfpunkt commented on #267
This is what  I am doing but, nothing changed.

Greatings

Von: Geoff Boeing [mailto:notifications@github.com]
Gesendet: Freitag, 29. März 2019 15:09
An: gboeing/osmnx
Cc: Fanghänel Sven (Post Direkt); Author
Betreff: Re: [gboeing/osmnx] Calculate complete Distance of shortest path (#267)

Use the weight argument to get the geometric distance, the same as you did in your code snippet.

—
You are r

[2019-03-29 14:18] gboeing commented on #267
[code]

[2019-03-29 14:40] svenfpunkt commented on #267
Herre is my script:

import osmnx as ox
import networkx as nx
import numpy as np

#ox.config(log_console=True, use_cache=True)
np.random.seed(12)
graph = ox.graph_from_point((50.932253, 6.951256), distance=1000, network_type='drive')
fig, ax = ox.plot_graph(graph)
nodes, edges = ox.graph_to_gdfs(graph, nodes=True, edges=True)

test_arr = np.c_[nodes.y.values, nodes.x.values][np.random.choice(nodes

[2019-03-29 14:42] svenfpunkt commented on #267
Sorry i found the bug in my code:
I wrote 'lenght' instead of 'length'
☺

Sorry

Von: Geoff Boeing [mailto:notifications@github.com]
Gesendet: Freitag, 29. März 2019 15:18
An: gboeing/osmnx
Cc: Fanghänel Sven (Post Direkt); Author
Betreff: Re: [gboeing/osmnx] Calculate complete Distance of shortest path (#267)

import networkx as nx

import osmnx as ox

graph = ox.graph_from_place('Köln, Germany',

[2019-04-02 16:04] dcorreab commented on #239
Hello PFerrix, I ave facing this same issue, could you share your fixed code, please? Thanks!

[2019-04-09 07:49] emanuelemassaro opened #268 "Python: error using osmnx during building extraction"
I would like to extract the building layer information from in Haiti using osmnx. It works for different cities it does not in the case of "Port-au-Prince" for instance

[code]

[2019-04-09 12:33] gboeing commented on #268
The API is not successfully geocoding your place name. Try to make it more explicit, or pass a dict instead of a string. More details are in [this docstring](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_place) and various closed issues such as #11 #16 #31 #102 #118 #176 #207

[2019-04-09 12:33] #268 closed

[2019-04-10 10:03] worapo opened #269 "Feature: get nearest node along nearest edge"
I have an original point (color red in figure below) which I want to find nearest node to it.

Using get_nearest_edge (either harvesine or euclidean) will return node highlighted in blue. However, this original point is not reachable from that blue point, it is reachable from the edge to its left.

It would be nice if there were an option for get_nearest_node to find nearest node along nearest edg

[2019-04-10 14:02] melove93 opened #270 "TopologicalError：footprint_type='landuse'"
Hallo, gboeing . Thank you for osmnx . I used 'footprints_from_place' function
I typed
point = (48, 10)
dist =2000
gdf = ox.footprints.footprints_from_point(point=point, distance=dist,footprint_type='landuse')
gdf_proj = ox.project_gdf(gdf)

and it works well. But wenn i dist=10000 change,occurs TopologyException.
Error is:
TopologyException: Input geom 0 is invalid: Self-intersection at or near p

[2019-04-10 17:03] gboeing commented on #269
Best to ask these "how-to" questions on StackOverflow, as the issue tracker is for bug reports and feature proposals.

That said, you can find the nearest node of the nearest edge to some reference point more simply with OSMnx's built-in functionality:
[code]

Here's a complete minimal working example:

[code]
![download](https://user-images.githubusercontent.com/4977197/55898453-9f725800-5b90-11e

[2019-04-10 17:03] #269 closed

[2019-04-10 19:34] #264 closed

[2019-04-11 02:07] worapo commented on #269
Thank you very much for your detailed explanation and example. I'm very glad to learn more about OSMnx's functionality.

[2019-04-11 11:45] melove93 commented on #270
I think perhaps the problem is outer_polys and  inner_polys, because the lag-long point nearby is always a large forest belt, in this polygon there are some small polygons such as park,lake. I think may be this causes TopologicalError.

[2019-04-11 13:11] gboeing commented on #270
@AtelierLibre recently did some nice work on adapting the footprints module to handle multipolygons... he might have some quick insight into what's going on here?

[2019-04-11 14:00] AtelierLibre commented on #270
Hello both, I'm happy to have a look and see what I can find.

[2019-04-12 12:47] AtelierLibre commented on #270
@melove93 I haven't been able to resolve this but it does seem to be Relation: Kirchberger Holz (14650) that is causing the problem. I exported it to GQIS and couldn't find a problem with its geometry there. @gboeing it is a multipolygon about 20km long with several ways as outer members and inner polys. I'm speculating at the moment but it would be subdivided by osm_footprints_download wouldn't i

[2019-04-12 21:01] pthangeda opened #271 "Ensuring Graph Connectedness"
This is a proposed enhancement. While extracting the street network for a given city or region of interest, imposing the boundaries would inadvertently lead to a disconnected graph (interstates that are cut off, etc.). Converting it to a diconnected graph is essential for route planning algorithms  (shortest path between any two nodes, etc.). Closing such a graph would be based on some assumption,

[2019-04-12 22:34] #271 closed

[2019-04-12 22:35] pthangeda commented on #271
I guess the only good option is to delete all the motorways and corresponding links with the region of interest. Closing the issue due to lack of options to generalize to any region.

[2019-04-13 04:30] AtelierLibre commented on #270
Having another look, I think what is happening is that in 'create_footprints_gdf' the part 'try ...' 'exception ...' takes the vertices of every way received from the request and tries to turn them into a polygon.
In this case, it attempts to do that individually to the fragments of the outer way when they need to be joined together first before forming the large external polygon. This creates som

[2019-04-13 12:31] melove93 commented on #270
@AtelierLibre  OK，Thanks for your help, i'm going to look at the algorithm with mutipolygon.

[2019-04-14 09:05] lyshuga opened #272 "Option to get info by "out geom;""
Dear Geoff Boeing,

I was wondering if there any way to get map data using graph_from_point function with output configuration as "out geom;".

Having looked though the code, I haven`t find any way to do it :(

[2019-04-15 13:09] gboeing commented on #272
No, that's not built into OSMnx as the purpose of the library is to construct networkx graphs (or geopandas GeoDataFrames) from OSM data. You could always use OSMnx to save its geometry to disk as a shapefile or graphml or somesuch for ingestion elsewhere.

[2019-04-15 13:09] #272 closed

[2019-04-15 13:30] gboeing commented on #257
closed by #259

[2019-04-15 13:30] #257 closed

[2019-04-16 11:38] AtelierLibre commented on #270
@melove93 that sounds great, if I can help at all please let me know.

[2019-04-22 23:55] dHannasch opened #273 "Minor refactor to plot.py"
I happened to have a use-case for getting a shortest path (normally a list of nodes) as a sequence of coordinate points *without* (immediately) plotting, so I extracted that code from plot_graph_route into a separate function node_list_to_coordinate_lines: https://github.com/dHannasch/osmnx/blob/master/osmnx/plot.py#L447

This can then be called by both plot_graph_route and plot_graph_routes.

I f

[2019-04-23 13:49] gboeing commented on #273
@dHannasch yes it sounds like this might be a useful PR. Would you like to open one?

[2019-04-23 20:09] dHannasch commented on #273
Sure: https://github.com/gboeing/osmnx/pull/274

[2019-04-23 21:12] pandabear-de opened #275 "Place filter does not seem to be using place poligons"
#### Problem description
It seems the the function pois_from_place is only filtering on a box instead of the area of the place.

#### What operating system, architecture, Python version, and OSMnx version are you using?
OS10.4, Jupyter Notebook, Python 3.6.5 :: Anaconda, Inc., OSMnx 0.9

#### Complete list of your environment's packages and their versions (for example, run `conda list` or `pip lis

[2019-04-24 11:51] #273 closed

[2019-04-24 12:28] gboeing commented on #275
You are correct. The `pois.py` module's `pois_from_place` functionality works inconsistently compared to the rest of OSMnx (e.g., `graph_from_place` or `footprints_from_place`) in that it currently doesn't conform the query area to the shape of the place polygon, but rather queries the polygon's bounding box.

Here is the relevant line: https://github.com/gboeing/osmnx/blob/99cdbe18161b5ce61f42e83

[2019-04-24 16:52] dHannasch opened #276 "Document change to OpenStreetMap node format"
Unless I missed it, the documentation does not currently explain the meaning of the 'x' and 'y' attributes on nodes. (OpenStreetMap calls these 'lon' and 'lat'.) If you want, we could add a note of that, e.g. like https://github.com/dHannasch/osmnx/commit/4e3a9b393f7731ed65240437b20b98004a746a8d#diff-8aa79b83ed86e48962cc94787fc5cb56 .

[2019-04-24 18:18] dHannasch opened #277 "Allow specifying custom elevation URL and/or proxies"
Not sure how many people might have this problem, but allowing a call to `add_node_elevations` to specify a custom URL and/or proxies enables working within restrictive networks, at the cost of adding a couple more parameters to the function: https://github.com/dHannasch/osmnx/commit/211a618456a8062bc701429dded7f191f5576344

Not sure how you'd feel about having those extra parameters in OSMnx prop

[2019-04-26 09:21] PierreAttard opened #278 "Input geom 0 is invalid: Self-intersection at or near point"
Hello gboing.

I have seen the issue #270 but I'm not sure it is the same issue.

# Request

For some location, the method *create_footprints_gdf* has an issue.

You can find below an example of request.

results = osmnx.footprints.create_footprints_gdf(polygon=None, north=51.26658135394529, south=51.152831680560726, east=4.55191769225323, west=4.4076010491502684, footprint_type='building', retain

[2019-04-26 20:31] dHannasch commented on #277
Another option that might be more palatable would be to extract the critical request code into a separate function: https://github.com/gboeing/osmnx/commit/937af8c4b58a1faabe76769bf90f602c1b9d0a42
`add_node_elevations` could then call that function.
`add_node_elevations` could leave the URL and proxies out of its own parameters, keeping a short simple signature, and anyone who needed to do somethi

[2019-04-28 06:08] 00krishna opened #279 "`Polygon has invalid geometry` errors when downloading building footprints"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I am using the `ox.footprints.footprints_from_polygon()` function to download the building footprints from Tanzania. I pulled the Shapely polygon for the Tanzanian state of Dar-es-Salaam and put that into the function `osmnx` function.

Here is a snippet of the MULTIPOLYGON:

[code]
dar2 = tanz_d

[2019-04-29 19:05] dHannasch opened #280 "Return distances to nearest edges"
It would be convenient to have the capability to keep the distances to nearest edges found by `get_nearest_edges`.
One possible way to do this would be to have `get_nearest_edges` internally call a function that does return the distances returned by the tree query, as shown in https://github.com/dHannasch/osmnx/commit/8f0cc95ca80cb3b0bf0e0322ec0771033fb127b1.

This would, obviously, affect Issue #

[2019-04-29 20:08] juliamgomes commented on #280
@dHannasch that makes sense to me! @gboeing @PedrosWits it sounds like we're all on the same page about the implementation so I'll try to get a PR together over the weekend :)

[2019-04-30 09:18] AtelierLibre commented on #278
I think this is the same as issue #270.

Your code generates this error:
TopologyException: Input geom 0 is invalid: Self-intersection at or near point 4.4621621060636354 51.214826758346931 at 4.4621621060636354 51.214826758346931

If you look at OpenStreetMap at that point
(https://www.openstreetmap.org/#map=19/51.21486/4.46238) the castle's outer boundary is made up of two lines.

As in #270 OSM

[2019-04-30 09:54] AtelierLibre commented on #279
I had a quick look at this and I have recreated your error using a boundary that I downloaded from Overpass-Turbo but it's not immediately obvious to me what is going on here.

Working with a smaller area that contains the way (https://www.openstreetmap.org/?way=453498330) referenced in the key error works:

`ox.footprints_from_point((-6.87851,39.17298), 100).plot()`

I would need more time to loo

[2019-05-01 15:37] gboeing commented on #280
Thanks!

[2019-05-03 11:15] TMorville opened #281 "Missing coverage of Scandinavia?"
Hi Geoff, and thanks for developing such an awesome package!

#### Problem description (what did you do, what did you expect to happen, and what actually happened)

When trying to to use `graph_from_place()` on any location in Scandinavia, ex.

[code]

I am getting this error:

[code]

This may be related to #16, but trying the alternative:

[code]

produces a new error:

[code]

This is the data

[2019-05-03 11:34] TMorville commented on #281
After having read #16 comments in detail, I am going to close this as the title is misleading.

Using `G = ox.graph_from_address('Copenhagen, Denmark', distance=10000, network_type='drive')`` works.

The response from a GET to nominatim gives:

[code]

which yields a bounding box. But I am still unsure of how to give the bounding box to `ox.graph_from_place`

[2019-05-03 11:34] #281 closed

[2019-05-06 06:20] reymnia opened #282 "Bug in osmnx\core.py"
### Issue

Hello,

I think there's a bug in the core.py. I tried to correct it and it's running now. I am attaching the edited code.
[core-edited.txt](https://github.com/gboeing/osmnx/files/3146674/core-edited.txt)

Thanks,

### Error

[code]

[2019-05-06 12:01] gboeing commented on #282
Can you please provide a complete example to reproduce the error you were getting?

[2019-05-07 04:16] reymnia commented on #282
Please find it below:

`import osmnx as ox
osm_data = ox.utils.overpass_json_from_file('D:\\osm\\data.osm')
graph=ox.core.create_graph(osm_data,name='unnamed',retain_all=True, bidirectional=False)
`

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-27-8ffa660b80ea> in <module>

[2019-05-07 13:05] gboeing commented on #282
Can you share a reproducible example? I can't debug it if I can't reproduce it, and I can't reproduce it if the code snippet relies on that `data.osm` file that I don't have.

[2019-05-07 13:07] gboeing commented on #278
Thanks @AtelierLibre, did that `geom.buffer(0)` suggestion resolve it? (That fix has often worked for me in other, previous, but similar circumstances). If so, would you like to create a PR?

[2019-05-07 13:07] gboeing commented on #279
Thanks @AtelierLibre. Any new insights?

[2019-05-07 13:08] gboeing commented on #277
I'll leave this open for a bit to see if anyone else weighs in on this being useful functionality for their workflow...

[2019-05-07 13:14] gboeing commented on #276
`x` and `y` are standard geospatial attributes partly because they *don't* always mean lat and lon... for example, someone may load a .osm file with node coordinates in a different reference system, or someone may have projected a graph to a planar coordinate reference system (in both of these examples, the coordinates OSMnx is working with are x and y, not lat and lon). For that reason, it's prob

[2019-05-07 13:14] #276 closed

[2019-05-07 16:02] AtelierLibre commented on #270
@melove93 I potentially have a bit of time to work on this at the moment. I was just wondering if you are making some progress with the multipolygon algorithm?

[2019-05-07 16:23] AtelierLibre commented on #278
@gboeing The exisiting `create_footprints_gdf` only correctly handles polygons formed from single closed ways. The `geom.buffer(0)` may 'fix' the invalid polygons created from chained open ways and avoid the error but it won't create the correct shape for the building.

I potentially have a bit of time to look at this now and I was thinking it could be done in two steps:
1. Amend the existing `cre

[2019-05-07 16:42] AtelierLibre commented on #279
@gboeing I don't, but I'll have a look at it as I'm working through the other one.

[2019-05-07 17:22] gboeing commented on #278
@AtelierLibre that sounds good, and thanks again for you help with this functionality! It's much appreciated.

[2019-05-07 19:36] 00krishna commented on #279
Thanks for your help on this guys. Seems like if there is a single invalid or old geometry in an area, then that will kill the download or the display for the entire plot or image, etc. My friend tried to get around this by basically downloading and then bisecting areas with errors and then downloading the bisections, until he could limit the areas with problem geometries. But that is not a partic

[2019-05-07 20:09] gboeing commented on #282
For reference, @reymnia emailed me `data.osm` and I'm uploading it here for replication: [data.zip](https://github.com/gboeing/osmnx/files/3154361/data.zip)

Make sure you read [the docs](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_file) and the OSMnx examples. You should use the `graph_from_file` function.

Testing this with your file, everything works fine:

[code]

C

[2019-05-07 20:09] #282 closed

[2019-05-07 20:28] reymnia commented on #282
Ah I see, I should use graph_from_file() directly! I have first converted xml to json in order to use create_graph(). But this is more straightforward. Thank you for your help.

[2019-05-07 20:37] reymnia commented on #282
Just am wondering if you checked create_graph() function as well? Does it work properly?

[2019-05-08 00:08] gboeing commented on #282
`create_graph` isn't meant to be used that way... per [the docstring](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.create_graph) its `response_jsons` argument must be a list of Overpass API JSON-formatted HTTP responses.

[2019-05-08 00:51] reymnia commented on #282
Thank you very much for your help. I will need to read the documentation carefully!

[2019-05-08 08:06] AtelierLibre commented on #279
I think there may be a couple of things going on here: the key error and the invalid geometry. #283 should catch the key error. I'll look at the invalid geometry as part of #270 and #278.

Your original download area is quite large (approx. 100km x 68km). This is split into multiple responses by `osm_footprints_download`. I suspect this creates some duplicate footprints along the edges of the resp

[2019-05-08 14:49] rubenl92 commented on #270
Hi all,

I also got the same issue and made a workaround using the sourcecode and customized it.
Here is what i changed:

after this line in the function create_footprints_gdf:
`for inner_poly in inner_polys:`
i added:
`if footprints[inner_poly]['geometry'].within(temp_poly):`

maybe this helps you or others to fix this issue.

Good luck!

[2019-05-10 19:03] 00krishna commented on #279
@AtelierLibre I was working with a large drone image that is about 30,000 x 30,000 pixels in size for Dar Es Salaam. I just pulled the extent of the image and then fed that to OSMNX.

Just to give a little background, I had to do it this way because just referencing Dar Es Salaam as a location--like in the tutorial--was returning a single point. Seems like Dar Es Salaam is both a city point and a

[2019-05-11 00:06] AtelierLibre commented on #279
@00krishna While this isn't fixed, using a spatial extent smaller than 50km x 50km would avoid the multiple queries and hence the duplicates and the key error. I have filtered the approx. 1,000,000 ways that your query returns to show just the duplicates. You can see in the image below how they align along the edges of the sub-queries. Fixing/avoiding the key error should be relatively straightfor

[2019-05-11 00:18] AtelierLibre commented on #270
@rubenl92 thanks for suggesting that check. It sounds like a good idea and could well help resolve some of the issues.

[2019-05-11 20:41] 00krishna commented on #279
Okay I understand now. So there are two issues. One is that there are some invalid geometries depending on the location, etc. This is the bus example you provide. These are cases where say a geometry is mislabeled, or is incomplete.

The second problem is that for queries larger than 50km x 50km, the queries will overlap and generate duplicates which creates the key error.

So I was running into b

[2019-05-15 21:28] dHannasch opened #285 "DeprecationWarning: Flags not at the start of the expression '//(?s)(.*?)/'"
As of Python 3.6, OSMnx gets the following DeprecationWarning:
[code]
Many other projects, such as [bottle](https://github.com/bottlepy/bottle/issues/949) and [babel](https://github.com/python-babel/babel/issues/467), have been getting the same DeprecationWarning. This is the change to Python that causes this DeprecationWarning:
https://github.com/python/cpython/commit/db99e6ee57c5070e6ef82fd2eaa5

[2019-05-16 12:58] gboeing commented on #285
@dHannasch can you provide a working example to reproduce this warning with OSMnx? Somehow I haven't seen it (on python 3.7).

[2019-05-16 20:04] gboeing commented on #285
Ah yes, I see. Do you want to open a quick PR to fix?

[2019-05-16 22:13] #285 closed

[2019-05-17 09:31] vilhelmp commented on #281
Just a note on this, I got it to work with the following code:
[code]
(`which_result=1` can of course be omitted)

Details: Looking at the OSM nominatim results for just "Copenhagen, Denmark" ([link](https://nominatim.openstreetmap.org/search.php?q=Copenhagen%2C+Denmark&polygon_geojson=1&viewbox=)) there's a button "Search for more results" which shows "Copenhagen Municipality" as the second resul

[2019-05-21 06:13] tarwcz111111111 opened #287 "ox.add_edge_grades() fails"
I already  upgraded to the latest version of osm, but I still got the division by zero error when I used add_edge_grades() function .
![image](https://user-images.githubusercontent.com/49775390/58072521-7d79e580-7bd2-11e9-9b4a-159173f82263.png)
![image](https://user-images.githubusercontent.com/49775390/58072536-89fe3e00-7bd2-11e9-84c3-a33bc29ee7b4.png)
![image](https://user-images.githubuserconte

[2019-05-22 13:27] gboeing commented on #287
@tarwcz111111111 can you post your working example to reproduce this as plain text here, so I can run it?

[2019-05-22 15:26] TheYuanLiao opened #288 "The discrepancy of edge number between the output of save_graph_shapefile and graph_from_place"
#### Problem description
Hi, thanks for this very handy and useful package. I downloaded the drive network of a city and then saved it as shapefile format. When I load the saved shapefile using geopandas, I found the edge number is smaller than the actual edge number of the directly generated graph.

#### What operating system, architecture, Python version, and OSMnx version are you using?
Operati

[2019-05-22 15:34] tarwcz111111111 commented on #287
my_google_elevation_api_key = " "
import networkx as nx
import numpy as np
import osmnx as ox
import geopandas as gpd
import pandas as pd
ox.config(log_console=True, use_cache=True)
ox.__version__

G = ox.graph_from_place('Hsinchu, Taiwan', network_type='walk')
ox.plot_graph(G)

G = ox.graph_from_place('Hsinchu, Taiwan', network_type='walk')
G = ox.add_node_elevations(G, api_key=my_google_elevatio

[2019-05-23 12:38] gboeing commented on #288
`save_graph_shapefile` converts the directed graph `G` to an undirected graph before saving to ESRI shapefile format to prevent massive duplication of line geometries. Each edge is given an attribute `oneway` with value True if it is a one-way street from node `u` to node `v` (per the edge attributes) or False if it is a bidirectional street.

[2019-05-23 12:38] #288 closed

[2019-05-23 14:31] gboeing commented on #287
Thanks. Fixed in fde6927cba8b26612d9e3d4844ae6c5165cc8089.

[2019-05-23 14:31] #287 closed

[2019-05-27 08:26] anderl80 commented on #45
Unfortunately I have the same issue when using a Google Colab env. I can only use pip install osmnx and so libspatialindex is missing.

[2019-05-29 02:59] enriqueav opened #290 "Add parameter which_result for footprints_from_place"
The function footprints_from_place

`osmnx.footprints.footprints_from_place(place, footprint_type='building', retain_invalid=False)`

could also receive the argument which_result, to choose the result number of Nominatim

`osmnx.core.gdf_from_place(query, gdf_name=None, which_result=1, buffer_dist=None)`.

If this is accepted, I could work on it and send the PR.

[2019-05-29 03:00] enriqueav commented on #290
Seems like the same could be done for
`osmnx.pois.pois_from_place(place, amenities=None)`

[2019-05-29 05:08] enriqueav opened #291 "Allow changing the Nominatim endpoint"
According to [Nominatim Usage Policy](https://operations.osmfoundation.org/policies/nominatim/) it is not acceptable to use it for heavy loads and/or bulk geocoding.

There are commercial instances of the system, like [MapQuest](https://developer.mapquest.com/documentation/open/nominatim-search/) which offer the same functionality and (in my experience) are a little bit faster.

Osmnx could allow

[2019-05-29 08:43] tiwaris436 commented on #16
I am getting error while running these codes.

G = ox.graph_from_place('Pune, Maharashtra', which_result=2, network_type='drive')
G_proj = ox.project_graph(G)
fig, ax = ox.plot_graph(G_proj)

"TypeError: Geometry must be a shapely Polygon or MultiPolygon. If you requested graph from place name or address, make sure your query resolves to a Polygon or MultiPolygon, and not some other geometry, like

[2019-05-29 11:33] gboeing commented on #16
@tiwaris436 I'm not really sure what else to say that hasn't already been said in this thread and the many other related issue threads. The error message is pretty straightforward the documentation here provides comprehensive info on why you're seeing this and how to resolve it.

[2019-05-29 11:35] gboeing commented on #290
I think this is a good idea. Would you like to open a PR?

[2019-05-29 16:27] gboeing commented on #291
This could be a useful addition. The challenge would be handling optional URL parameters (such as API keys) in a flexible way. For instance, OSM nominatim expects no API key, but commercial vendors might. We'd need to handle different parameters accordingly.

[2019-05-29 16:29] gboeing commented on #277
I'm going to close this one for now. But I'm willing to reopen it and solicit a PR if any other folks end up needing this sort of functionality at some point.

[2019-05-29 16:29] #277 closed

[2019-05-31 15:08] Paiva27 opened #293 "Not getting all the names of the streets, insted getting "None" Value."
I'm using this function to get the graph of the neighbourhood that i'm working on:

`location_point = (-20.443167, -43.842278)`
`Pires = ox.graph_from_point(location_point, distance=3000,network_type='all', retain_all=True)
`

And using this function to print the names of the streets:

` names = Pires.edges.data('name')`
`print(names)`

But insted of getting a list of every street name like this:

[2019-05-31 17:26] Paiva27 commented on #293
I visited the OSM and realized that almost all the streets that i was getting are not named in the OSM, so i'm manually puting the street names.

[2019-05-31 17:26] #293 closed

[2019-06-05 16:42] gboeing commented on #290
closed in #292

[2019-06-05 16:42] #290 closed

[2019-06-06 04:31] enriqueav commented on #291
https://github.com/gboeing/osmnx/pull/294

[2019-06-06 21:57] rafaeelaudibert opened #295 "Feature Request - which_result in gdf_from_places"
Hey Guys!

I need to query a lot of cities, so I'm using the `gdf_from_places` function, but as you could expect I don't always want the first returned result, so it would be needed to add the `which_result` (available in `gdf_from_place`) to the gdf_from_places function as well.

I have implemented this feature locally, just checking to see if this is something it would be wanted to be implemente

[2019-06-07 05:09] ricsonc opened #296 "graph_from_file fails on XML dump"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I attempted to load a graph from the OSM planet dump (https://wiki.openstreetmap.org/wiki/Planet.osm) with
`G = ox.graph_from_file('planet.osm.bz2')`.

I expected the function to return the road graph of the entire world.

This resulted in the error:

[code]

I am reasonably sure that this is not

[2019-06-07 12:21] gboeing commented on #296
Isn't the planet dump hundreds of GB? I don't think you'd be able to load it period (unless you're on some sort of supercomputer). Can you try your code with a small extract (such as for a single city) to see if it works?

[2019-06-07 12:26] gboeing commented on #295
A good option would be to add `which_results` as an optional argument as a list with the same length as the `queries` argument, then zip them in `gdf_from_places`'s for loop to pass them both into the `gdf_from_place` call one at a time.

[2019-06-07 12:30] rafaeelaudibert commented on #295
That’s a great idea. I can make a PR today for it. Is that good for you?

[2019-06-07 12:30] gboeing commented on #270
resolved in #289

[2019-06-07 12:30] #270 closed

[2019-06-07 12:30] gboeing commented on #278
resolved in #289

[2019-06-07 12:30] #278 closed

[2019-06-07 12:31] gboeing commented on #279
resolved in #289

[2019-06-07 12:31] #279 closed

[2019-06-07 12:38] gboeing commented on #275
Resolved using option 1 in 5f8a813 but open to implementing option 2 eventually if someone wants to open a PR.

[2019-06-07 12:38] #275 closed

[2019-06-07 12:39] gboeing commented on #295
Sure, thanks.

[2019-06-07 12:54] PierreAttard commented on #278
Thanks a lot !

[2019-06-07 13:21] gboeing commented on #291
closed by #294

[2019-06-07 13:21] #291 closed

[2019-06-07 13:52] gboeing commented on #296
I only have 32 GB of RAM on my computer, so I obviously can't load/test the entire planet graph. But to test a manageable use case, I just downloaded the [Delaware extract](https://download.geofabrik.de/north-america/us/delaware-latest.osm.bz2) and loaded it just fine:

[code]

[2019-06-07 13:52] #296 closed

[2019-06-07 14:19] gboeing commented on #280
closing this issue here in favor of discussion in #261 and #284

[2019-06-07 14:19] #280 closed

[2019-06-07 14:32] gboeing commented on #250
I'm going to close this for now because from my perusal of the codebase it looks like these are necessary at this point. Garbage collection should free up locally-used memory after each function exits.

[2019-06-07 14:32] #250 closed

[2019-06-07 17:16] ricsonc commented on #296
I was also able to load the delaware extract. It seems the problem with the planet dump is the xml parsing -- specifically in `OSMContentHandler`:

[code]

In planet.osm, there are some other tags such as "comment" and "created_by" which appear before any node or way, so in

[code]

[2019-06-07 17:53] rampallishyam opened #298 "Unable to use the "buildings_from_place" attribute since it says that it does not exist"
Buildings_from_place attribute does not work anymore.

OSMNX version: 0.10
Python: 3.7.3, 64-bit
Using Anaconda 64 bit
OS: Windows

[code]

[2019-06-07 18:03] gboeing commented on #298
The `buildings` module was [deprecated](https://github.com/gboeing/osmnx/blob/master/CHANGELOG.md) in a previous release and officially removed in the current release. It has been replaced by the `footprints` module, as detailed in the [documentation](https://osmnx.readthedocs.io/).

[2019-06-07 18:03] #298 closed

[2019-06-08 05:09] rampallishyam commented on #298
Thanks Professor Boeing!

[2019-06-10 17:50] nathanielmhld commented on #92
I was getting a similar issue and solved it by rearranging to
ox.graph_from_bbox(west, east, north, south)
as I found an example using it that way here: https://geoffboeing.com/2016/11/osmnx-python-street-networks/
I may have misaligned my variables, but at any rate, you may have done the same!

[2019-06-11 02:20] trebsirk opened #300 "Bug Fix: plot_graph_route throws 'NoneType' object has no attribute 'values'"
I tried to run `ox.plot_graph_route` and it's breaking when edges do not have an associated attributes dict.

<details>
I'm using the docker image gboeing/osmnx running on Mac OS X.
</details>

I think the solution here is to change line 470 of https://github.com/gboeing/osmnx/blob/master/osmnx/plot.py from
[code]
to
[code]

[2019-06-11 11:57] gboeing commented on #300
Thanks @trebsirk. Can you provide a use case for this? Under what circumstances would graph edges not have their `data` dicts?

[2019-06-11 19:32] rafaeelaudibert commented on #295
Pull Request addressing this feature opened at #301

[2019-06-11 22:34] trebsirk commented on #300
I am trying to make a route, but there are duplicate adjacent nodes, which means there is an edge (u, v) where u == v. I'm trying to plot a route of breadcrumbs based on driving data where there are delays at certain nodes.
Here are example breadcrumbs, given as tuples of (node, time):
(49392, 0)
(5932, 1)
(5932, 2)
(93839, 3)

[2019-06-11 22:56] gboeing commented on #300
Can you provide an MWE so I can reproduce?

[2019-06-11 23:37] trebsirk commented on #300
I ran this from a jupyter notebook.

[code]

[code]

[2019-06-12 13:10] gboeing commented on #300
You're not passing a valid route to `plot_graph_route`. You said:

but it's breaking because there you're telling it to look for an edge that doesn't exist. When you run `route.append(route[-1])` you are duplicating the final node in the route again at the end of the route. Unless there is a self-loop in the graph that links that node to itself, then there is no valid edge there to traverse. See [

[2019-06-12 14:18] trebsirk commented on #300
Yes, I realize it's not technically a route due to repeated notes, but having the default dict will obviate the need for preprocessing a certain class of real-world data. Is there a good reason not to have the default dict passed to `get_edge_data`?

[2019-06-15 14:50] sitthinutk opened #303 "`add_node_elevations` api issue (400 bad request)"
I think there is some update in Google API which affects `add_node_elevations( )` function.
Google api needs **(lat, lon)**, not **(x, y)** from osmnx.

correct url format:
https://maps.googleapis.com/maps/api/elevation/json?locations=39.7391536,-104.9847034&key=[API_KEY]

current osmnx url format:
https://maps.googleapis.com/maps/api/elevation/json?locations=6200023.54218,488066.31946&key=[API_KE

[2019-06-15 23:59] gboeing commented on #303
@sitthinutk the URL you provided (as "current osmnx url format") suggests you are working in projected units, but Google needs lat-lng units.

[2019-06-16 16:19] sitthinutk commented on #303
yes so that makes `add_node_elevations( )` can't be used right now, right?

[2019-06-16 18:37] gboeing commented on #303
You can use that function at any point in your workflow. Just project your coordinates to lat-lng first.

[2019-06-24 01:49] lovetuliper opened #304 "Create virtual nodes on a edge"
The package is great. I like it so much!  Currently, I am simulating a vehicle traversal environment. Some edge is very long so that the vehicle can not finish traveling within a certain time slot.  I want to create virtual nodes or just markers on the long edge. In this way, I can see where the vehicle stop on the edge after a certain time slot. How to make this visualization? Thank you very much

[2019-06-24 13:11] gboeing commented on #304
Yes, see this function: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.utils.redistribute_vertices

You'd use it via something like the following:

[code]

[2019-06-24 13:11] #304 closed

[2019-06-25 01:57] lovetuliper commented on #304
Thanks, Prof. Boeing! I applied these functions but couldn't make it work. Could you help me check the code? I want to create some virtual nodes on the edge from node_1 to node_2. Thank you.

import networkx as nx
import osmnx as ox
import requests
import matplotlib.cm as cm
import matplotlib.colors as colors
import csv, sys
import numpy
import numpy as np
from shapely import wkt
from shapely.geom

[2019-06-25 02:13] lovetuliper commented on #304
Thanks, Prof. Boeing! I was trying to create some virtual nodes on the edge from node_1 to node_2. I applied these functions but couldn't make it work. Could you help me check the code?  Thank you.

[test_add_nodes.py.zip](https://github.com/gboeing/osmnx/files/3323258/test_add_nodes.py.zip)

[2019-06-25 11:09] gboeing commented on #304
The issue tracker is for documenting bugs or proposing new features. Best to ask how-to questions at the user community on StackOverflow, per the contributing guidelines.

[2019-06-25 11:18] rxl204 opened #305 "ModuleNotFoundError: No module named 'matplotlib.axes'"
This issue tracker is for reporting bugs or proposing new features. Please ask "how-to" questions on https://stackoverflow.com/ instead. Before you proceed, please read the contributing guidelines in this repo's CONTRIBUTING.md.

If you installed OSMnx via conda and are experiencing installation problems, please open an issue at https://github.com/conda-forge/osmnx-feedstock/issues

If you're havi

[2019-06-25 13:35] gboeing commented on #305
Your environment has a jumble of packages from different anaconda channels, which is known to introduce [compatibility issues](http://conda-forge.org/docs/user/tipsandtricks.html).

I'd recommend creating a new clean conda environment:

[code]

See if that runs successfully and prints out the osmnx version.

[2019-06-25 14:30] lfzhou917 commented on #304
OK. Thanks, Prof. Boeing.

[2019-06-25 19:27] lfzhou917 opened #306 "Add a new node and update the graph"
Can I add a new node (GPS position) to the graph and update associated edges?

[2019-06-26 01:18] gboeing commented on #306
The issue tracker is for documenting bugs or proposing new features. Best to ask how-to questions at the user community on StackOverflow, per the contributing guidelines.

[2019-06-26 01:18] #306 closed

[2019-06-26 03:08] rxl204 commented on #305
Thank you. I have resolved the issue.

Cheers

On Tue, Jun 25, 2019 at 9:35 PM Geoff Boeing <notifications@github.com>
wrote:

[2019-06-26 07:24] Hartry opened #307 "Missing nodes connecting two differents city."
Hi,
I have an Dijsktra Algorithm which can find way into graph that I get with the following command and it works fine.

`
graph_Paris = osmnx.graph_from_place(query = "Paris, France", network_type='drive')
`

But the algorithm can not find a way into two connected graphs. I mean when I get two neighboring city that I compose into a single graphe on which I apply the algorithm. It doesn't give me

[2019-06-27 11:51] #307 closed

[2019-06-27 12:37] #305 closed

[2019-07-01 09:10] bonakdarf92 opened #308 "IllegalArgumentException"
Hi,

I succesfully used the osmnx framework in order to access the Network of Darmstadt in Germany on my Windows PC.
Unfortunetaley the Problem which occurs is an IllegalArgumentException when running my code or other sample code.
[code]
This error is only at my MacBookPro (10.14.1) whereas no error occur on WinPC (10).
In both environments I use an Anaconda with Python 3.7.3 and osmnx 0.10

####

[2019-07-03 10:08] bonakdarf92 commented on #308
Solved the Problem. Probably the error occured because of mismatches from conda environments between MacOS and Win10. Once you got an running environment (Win10) you have to export it via

[code]
Then you need do delete all OS dependent lines e.g.
msys...,
vs_2015,
winpy...
etc.
which causes error when starting to recreate a copy of the environment with
[code]
If you find any other plausible answe

[2019-07-04 12:48] #308 closed

[2019-07-04 15:03] #303 closed

[2019-07-10 14:02] ppintosilva opened #309 "Enhancement: Arrows and edge annotations in plot_graph"
Hi @gboeing . If we have a graph and wish to zoom in on a particular junction (by passing a value to bbox) to understand what's going on, it could be useful to have additional arguments to plot the direction of traffic flow and annotate edges, with street names for instance.

I was wondering if you've thought about this enhancement before and if it's worth drafting a pull request.

Cheers.

[2019-07-10 14:05] gboeing commented on #309
That's an interesting idea. But I wonder if OSMnx is the right place for that functionality, given that GIS tools can do it relatively easily? Typically when I'm trying to better understand some section of the graph, I'll just dump it to shapefile > open in QGIS > click/explore interactively (to see street names, directionality, etc). Thoughts?

[2019-07-10 14:14] JiweiZh opened #310 "Get all country data"
Hi, I want to get the graph for whole country to calculte the distance between some points, my code is like this:

[code]

But I think that is too large, so I got python request's time out errors each time, I try to change these two parameters: max_query_area_size, timeout, but I seem also take so much time.

Is this the right way to get all the graph for the whole country ? or some other way?

Th

[2019-07-10 14:28] ppintosilva commented on #309
Yes, that is probably the sound thing to do. I'm still very much a rookie at GIS and hence not very familiar with the whole spatial analysis ecosystem, tools and workflow.

But what got me thinking about this, is the fact that I have 200+ traffic cameras, which I'm trying to merge with the road graph, based on location, address and camera orientation. Validating this at scale is a bit tricky and f

[2019-07-10 20:20] gboeing commented on #310
Your `which_result` argument is misspelled. But the main issue here will be RAM on your computer. OSMnx automatically handles large queries, subdividing them so the API can handle it. But your computer needs enough memory to construct a massive country-wide graph. You might want to filter to only retain freeways or something like that if memory is an issue.

In general, the issue tracker is for do

[2019-07-10 20:20] #310 closed

[2019-07-12 08:27] vikaskumar99 commented on #267
Does the shortest_path_length return in meters ??

[2019-07-12 12:36] wangzi6578 opened #311 "A question about osm map quantity"
Hi，there，
Today,I found a question about OSM map, i get road data from any  one city  in osm map, it about 100M, but i get total country's road data, it only about 1G,however, it contains hundreds cities,that's incredible，is there any expert could solve my doubt

[2019-07-12 18:05] gboeing commented on #311
This doesn't appear to be an OSMnx related bug or feature request. Per the new issue template:

[2019-07-12 18:05] #311 closed

[2019-07-13 03:54] jermaine1ronquillo opened #312 "slightly shifted nodes"
I'm using osmnx to extract lines and nodes and the coordinate system is changed to UTM then I convert it into a hydraulic model. To check if the hydraulic model coincides with the map from which it was extracted I would open it in QGIS, however based on the image below, the nodes are slightly shifted. Is there a way to check why this happen?

![image](https://user-images.githubusercontent.com/1519

[2019-07-13 18:02] gboeing commented on #312
Before you project it to UTM, check a node in the graph's x and y coordinates. Then look up that node on OSM and double check the x and y match what you've got in your graph. Assuming everything came in correctly, double-check the projection process. It looks like the projections don't perfectly line up, so make sure they're precisely identical.

[2019-07-14 03:23] jermaine1ronquillo commented on #312
Below is the image if the xy coordinates are in lat long, and it shows the there is something in the process of converting to UTM, however, i am only using this "P_projected=ox.project_graph(P)" to convert to UTM.
am i missing some pre-pocessing before converting to UTM or is there a way to increase the precision of the lat long coordinates before converting to UTM?

![image](https://user-images.g

[2019-07-16 13:52] BrunoEduardoCSantos opened #313 "Connectivity error (graph from polygon)"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
I would expect to convert a random polygon from shapely to a direct acyclic graph in osmnx .

#### What operating system, architecture, Python version, and OSMnx version are you using?
0.10
#### Complete list of your environment's packages and their versions (for example, run `conda list` or `pip

[2019-07-16 15:05] gboeing commented on #313
A few thoughts.

1. Why do you expect a directed acyclic graph? Nearly all real world street networks include cycles.

2. There's no reason to believe that every random polygon will yield a street network: you'll only successfully get a graph back if you pass in a polygon within which OSM network infrastructure appears.

3. Building on point 2, your polygon is very strange. As you plot it in your

[2019-07-17 08:37] BrunoEduardoCSantos commented on #313
Thanks for your feedback.

[2019-07-17 08:37] #313 closed

[2019-07-17 14:31] annamuji commented on #252
Dear @gboeing
I am facing the same problem when trying to use geopandas in spyder.

[condainfo.txt](https://github.com/gboeing/osmnx/files/3402339/condainfo.txt)
[condalist.txt](https://github.com/gboeing/osmnx/files/3402340/condalist.txt)

[2019-07-17 16:16] gboeing commented on #252
@annamuji your environment has a jumble of packages from defaults and conda-forge. You should avoid this: https://conda-forge.org/docs/user/tipsandtricks.html#using-multiple-channels

See the installation instructions for how to install OSMnx in a new, clean, conda env: https://osmnx.readthedocs.io/en/stable/#installation

[2019-07-17 16:24] gboeing commented on #312
You shouldn't need to increase the precision. You can pass a `to_crs` argument to define a precise projection you want, and then verify that you are using precisely the same projection in QGIS: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.projection.project_graph

[2019-07-18 05:41] jermaine1ronquillo commented on #312
Thank you for the response, i'm closing this for now

[2019-07-18 05:41] #312 closed

[2019-07-19 12:00] torbenf86 opened #314 "Feature Request - add orginal way direction"
Hi,

thank you for the great package!
I would suggest just one thing to add. As we are using the keys lane:backward and lane:forward in OSM, we need to know which direction backward and forward is. This information is present in OSM by the order of nodes in the way. But it is somehow dropped when using OSMNX. I would propose to add "original" direction of the edge. Right now, I see no possibilty h

[2019-07-19 13:12] gboeing commented on #314
@torbenf86 every edge contains `u` and `v` attributes denoting the direction the edge points (from node `u` to node `v`).

[2019-07-22 14:12] willgeary opened #315 "Map matching GPS trajectory to OSM road network?"
Thank you so much for this wonderful library. The feature list in the OSMNX documentation  includes: "Fast map-matching of points, routes, or trajectories to nearest graph edges or nodes". I am hoping to match a GPS trajectory to OSM road network and return a list of node id's represented that path travelled. Is there map-matching functionality within OSMNX? Are there any examples available toward

[2019-07-23 06:48] torbenf86 commented on #314
@gboeing
Thanks Geoff. I think, I may have been unclear. An OSM way always points in a certain direction, right ? In OSMNX, an edge as part of this OSM way is created from node u to node v. Next, another edge with the opposite direction is created (except one-ways). Node u from the opposite edge is the original node v and node v from the opposite edge is the original node u. The consequence is tha

[2019-07-23 06:50] torbenf86 commented on #315
@willgeary
I am interested in this feature as well. You might look into OSRM online API for now. There are several Python packages which provide a wrapper around this API. But I still don't have any experience with it.

example: https://github.com/ustroetz/python-osrm

[2019-07-23 10:00] philMarius commented on #315
I have used a variation of this with my application: https://github.com/valhalla/valhalla/blob/master/docs/meili/algorithms.md

The Viterbi algorithm for solving the HMM ran into a few issues but Dijkstra's works _almost_ perfectly for what I am trying to do.

[2019-07-24 06:29] joshuageoghegan opened #316 "Getting Nearest Node on a Multidigraph"
I am writing a Python script which will loop through a set of points and using a multigraph find the shortest path to another set of points. The multidigraph is created from a shp I output from QGIS. I have a function to create the multidigraph

When I try to get the nearest node to a point with

I get the error

How do get the nearest point of a multidigraph? is this error easily explainable?

[2019-07-27 13:39] HughKelley opened #317 "Saving to .graphml destroys graph crs data"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Loading a multidigraph from OSM, the object has a crs value specified along with a few other values in a dict.

Saving to a .graphml and reloading from that file results in a multidigraph missing all values that were previously stored in the  'graph.graph' dict.

Is this expected behavior for the

[2019-07-28 06:57] ICDI0906 opened #318 "how to add node to the road network"
Hello~, I want to add some node to the road network. What do I need to do?

[2019-07-29 15:26] gboeing commented on #316
OSMnx is designed to construct graphs of street networks from OSM data. Accordingly, all of its functions expect all of its "expected machinery" to be present in the graph. If you want to use OSMnx on non-OSMnx created graphs, you'll need to make sure your graph exactly matches the format and contains all the same attributes as an OSMnx created graph (but this isn't really the use case OSMnx was d

[2019-07-29 15:30] gboeing commented on #318
You should begin by reading the documentation for OSMnx: https://osmnx.readthedocs.io/en/stable/

and for NetworkX: https://networkx.github.io/documentation/stable/reference/classes/generated/networkx.MultiDiGraph.add_node.html

The issue tracker is for documenting bugs or proposing new features. Best to ask how-to questions at the user community on StackOverflow, per the contributing guidelines.

[2019-07-29 15:30] #318 closed

[2019-07-29 15:40] ICDI0906 commented on #318
OK, Thanks a lot!

[2019-07-29 15:40] gboeing commented on #315
@willgeary OSMnx provides basic functionality for matching GPS points to graph nodes and/or edges. Probably the most relevant to your inquiry would be `ox.get_nearest_edges` which was released in v0.9 and is documented here: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.utils.get_nearest_edges

See also #234 for more details.

There's also some discussion/development of a better spatial

[2019-07-30 10:54] emanuelemassaro opened #319 "How to get road network in Haiti's islands?"
I am trying to get the road network from Haiti. However even if I use coordinates or place I get the same road network. The road network does not include the islands of Haiti and this is the output. This is what I am doing:

[code]
<img width="356" alt="Screen Shot 2019-07-30 at 12 54 06" src="https://user-images.githubusercontent.com/1876526/62123859-2296f580-b2c9-11e9-8ca7-08d6ff76c018.png">

[2019-07-30 16:10] gboeing commented on #319
Read through the OSMnx documentation and try the `retain_all=True` argument: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_place

In general, the issue tracker is for documenting bugs or proposing new features. Best to ask how-to questions at the user community on StackOverflow, per the contributing guidelines and new issue template.

[2019-07-30 22:18] Jukurrpa opened #320 "Picking the first polygon/multipolygon found in graph_from_place()"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I have a script that uses osmnx's `graph_from_place()` to fetch and manipulate OSM data within the boundaries of cities. The script can potentially be run on virtually any city.

I've encountered issues for some cities where their administrative boundaries weren't the first result given by OSM's

[2019-07-31 15:26] sabrinadraude opened #321 "using a postcode in osmnx"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)
Hiya,
i've been trying to code using a user_input postcode to find the distance between two points in osmnx. However it seems you have to enter a node value not an address. Because this is user input I wouldn't expect the user to know the node that they are starting or ending at.

Any feedback wou

[2019-08-05 09:49] DmitriyG228 opened #322 "Querying local osm data"
Hi, this is the enchantment idea, rather than an issue. It has previously been discussed #51.

Just to make sure my understanding of how osmnx works is currect:

- If you want to query a big dataset (say, country) through overpass, that takes waaay long time to get it, since it does it in tiny chunks.

- the resulting Graph object is not full does not fully correspond the initial dataset, and if y

[2019-08-05 11:26] DmitriyG228 commented on #322
or, maybe the better idea  is just to set up one's own overpass server? :)

[2019-08-06 10:54] HughKelley commented on #322
hi, if you need a solution in the short term, you might take a look at the [save_load module](https://osmnx.readthedocs.io/en/stable/osmnx.html?highlight=shapefile#module-osmnx.save_load) where there are functions for loading graphs from different file types. It isn't always super easy, but it may be possible to download the shapefile for a reagon from that Geofabrik website and then read the shap

[2019-08-07 15:51] gboeing commented on #322
@DmitriyG228 yes you can download a `.osm` file and then load it with OSMnx using `ox.graph_from_file`. See [the OSMnx documentation](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_file) for details.

[2019-08-07 15:51] #322 closed

[2019-08-07 15:51] #319 closed

[2019-08-07 15:51] #316 closed

[2019-08-07 15:53] gboeing commented on #317
Interesting. Inside your `test.graphml` file, do you see the graph.graph dict keys and values anywhere? Is the issue that they're not being saved to the file, or is the issue that they're not being read from the file upon re-loading?

[2019-08-07 15:54] gboeing commented on #321
The issue tracker is for documenting bugs or proposing new features. Best to ask how-to questions at the user community on StackOverflow to get a useful answer, per the contributing guidelines and issue template.

[2019-08-07 15:54] #321 closed

[2019-08-07 21:56] bradleyswilson opened #323 "KeyError: 'y'"
Greetings. Appreciate the great package. I'm struggling to graph_from_file to run, getting a key error (see Traceback below). Running osmnx in a clean conda environment with strict channel priority as recommended by the install docs.

The .osm file is the raw New Zealand Geofrabrik download, clipped with osmconvert to a bounding box. Any thoughts for troubleshooting?

[code]

[2019-08-07 23:17] joshuageoghegan commented on #316
Thanks for that. I'll read more into it in that case.

[2019-08-08 22:06] bradleyswilson commented on #323
Figured this out, it was an issue with having node references on ways that were removed in the osmconvert clipping process. Adding --drop-broken-refs when using osmconvert fixed the issue.

If you think it would be worth checking for this when using graph_from_file (or perhaps in overpass_json_from_file), I'm happy to take a stab at adding it in.

[2019-08-08 22:06] #323 closed

[2019-08-09 00:05] corneliailin commented on #116
Hi!

I am trying to retrieve name and geometry data for all the schools in Nairobi, Kenya. I am using the pois_from_place() function available in the osmnx package for this. When I plot the data on a map I see schools outside the boundaries of Nairobi and I don't understand why (please see graph attached).

Am I missing something here? Any help appreciated.

![Screen Shot 2019-08-08 at 6 59 24 PM]

[2019-08-10 23:34] corneliailin opened #324 "Retrieving amenities data with osmnx"
Hi!

I am trying to retrieve name and geometry data for all the schools in Nairobi, Kenya. I am using the pois_from_place() function available in the osmnx package for this. When I plot the data on a map I see schools outside the boundaries of Nairobi and I don't understand why (please see graph attached). Doing the same thing with QGIS tells me that there are also more schools inside the boundari

[2019-08-11 20:17] gboeing commented on #324
If you fill out all the information requested in the new issue template I can take a look.

[2019-08-12 14:25] soft4edu opened #325 "OSMnx with own database data and load/save problems"
Hi. I'm trying to use osmnx for network analysis with shape files that are generated from my own database. For now it works very fine with OSM live, but I don't want to change already implemented algorithms, just data source. Is there any simple way to save shp files let's say to GraphML format that can be opened by osmnx offline either just to open them directly from osmnx?

My trial of workaroun

[2019-08-12 16:39] gboeing commented on #325
If you fill out all the information requested in the new issue template I can take a look.

[2019-08-13 13:02] elharchaoui commented on #116
Hi all,

I'm really impressed with the work done since the begining of this module project that was started from a needs ! I would like to thank you for this amazing job done and that collaborative work. it's really good to see that!

[2019-08-14 09:45] soft4edu commented on #325
Filled out

[2019-08-14 12:50] HughKelley commented on #317
A control-f for "crs" came up blank so most likely it is a write problem not a read problem.

There are plenty of other keys though.

for instance:
[code]

I've switched all of my network storage needs to using pickles, which has worked great since I don't need to access the data from any other software and don't need to collaborate with anyone.

[2019-08-21 08:17] torbenf86 commented on #314
Any new thoughts on this ?

[2019-08-21 18:29] gboeing commented on #314
@torbenf86 thanks for the ping. Been a busy summer. Yes you are right: an OSM way has a "direction" that corresponds to the way it was drawn and this would impact the interpretation of lanes:forward and lanes:backward. It could be useful to include edge attributes like `osm_way_u` and `osm_way_v` to denote the origin and destination nodes of the original OSM way.

[2019-08-24 01:59] epierson9 opened #326 "NotImplementedError: Multi-part geometries do not themselves provide the array interface"
When using footprints_from_place, I get a NotImplementedError for certain queries. In particular, running

[code]

results in

[code]

I am using osmnx version 0.11dev, installed from source using `python setup.py install` in a conda environment. Python version is 3.7.2.

[2019-08-24 17:12] #326 closed

[2019-08-24 17:13] gboeing commented on #326
should be resolved by #327 now

[2019-08-24 18:23] epierson9 commented on #326
Thanks very much -- confirming this fixed it. This is a very elegant package which will be extremely useful for our project -- thanks for all the work building and maintaining it!

[2019-09-02 20:52] SebMilardo opened #328 "Feature Request - overpass endpoint"
Hi

Thank you for the awesome work!
I would like to point osmnx to a local instance of Overpass Turbo. This is also related to #302
However there is a typo in #302 that I have fixed in my fork and I have also added a test for this new setting. If you are ok with it I can submit a PR.

Kind regards,
Sebastiano

[2019-09-04 13:52] Liyubov commented on #11
Hi, @gboeing

thank you for osmnx package! It is really good to use it.

I had similar issue arising from **"non-polygons" objects,** e.g. "Povo, Italy".
So, I tried to overcome this error by giving coordinates for Polygon:

coords = [(24.950899, 60.169158), (24.953492, 60.169158), (24.953510, 60.170104), (24.950958, 60.169990)] #working example

But then I cannot search for amenities in the Polyg

[2019-09-04 15:35] gboeing commented on #11
@Liyubov if you provide a [minimal, complete, reproducible](https://stackoverflow.com/help/minimal-reproducible-example) example I will take a look.

[2019-09-04 16:32] gboeing commented on #328
@SebMilardo sounds good, thanks!

[2019-09-04 16:38] SebMilardo commented on #328
Pull Request addressing this feature opened at #329

[2019-09-05 12:48] Liyubov commented on #11
Yes, tnx, sure, here it is @gboeing
The problem is that when I create polygon and search for amenities in the area bounded by coordinates I cannot get the right dataframe of amenities with properties.

Hope this is clear. Thank you!

`import networkx as nx
import osmnx as ox
import requests
from matplotlib import pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
ox.config

[2019-09-05 16:09] BCNecoder opened #330 "TopologyException: Input geom 0 is invalid"
####I'm running python 3.7 in Jupyter Notebook in Windows and trying to get the building footprints of Barcelona through the osmnx 0.10 footprints fuction:
[code]
After running the script it yields the following error message:

`#TopologyException: Input geom 0 is invalid: Self-intersection at or near point 2.1664058699463573 41.38391317543983 at 2.1664058699463573 41.38391317543983`

<details>

-

[2019-09-06 16:22] gboeing commented on #330
This is fixed in the latest code commits and will be released in the next version.

[2019-09-06 16:22] #330 closed

[2019-09-06 20:56] mbforr commented on #71
Having a similar issue here with a graph I created in NetworkX for custom routes and nodes from two GeoDataFrames. It is a `MutliDiGraph` and the issue I am seeing now is just an error with 'x':

[code]

output:
[code]

The function I used to create the graph is as follows:

[code]

Any ideas would be great!

[2019-09-06 21:01] gboeing commented on #71
Without a reproducible code snippet it's a bit hard to guess what's happening here, but my guess would be that you don't have an 'x' column in your geodataframe and therefore you don't end up having one in your graph.

[2019-09-06 21:10] mbforr commented on #71
The complete code is listed here along with the file I am using to create the graph:

[code]

The goal here is to use the shortest route method and add some costing methods into the routes as well.

https://drive.google.com/file/d/1BoVQgLhQQAJ4sun1Ph3vbNh4wrILVXsi/view?usp=sharing

[2019-09-09 15:37] SamComber opened #331 "Conversion of isochrone polygon from UTM to lat/lon is incorrect"
**Problem description (what did you do, what did you expect to happen, and what actually happened)**

I'm attempting to create 15 minute drive catchments (from the example in https://github.com/gboeing/osmnx-examples/blob/master/notebooks/13-isolines-isochrones.ipynb) and then project these back to lat/lon so that I can use them in further analysis. Essentially I take the centroid of a polygon and

[2019-09-09 15:52] #331 closed

[2019-09-10 11:14] awa5114 commented on #323
Thanks for following up on your own question. I was also facing the same problem https://github.com/gboeing/osmnx/pull/95 but then found your post.

On another note, when I drop the broken refs for the example in my post in https://github.com/gboeing/osmnx/pull/95 I obtain a graph with one node and no edges.

I checked the resulting .osm file for with and without broken refs and I see that removin

[2019-09-10 15:26] bradleyswilson commented on #323
Hard to say without knowing what your .osm data looks like, but I'd guess the ways/relations are defined across the boundary edges of your clipping area (you mentioned it was a very small polygon) and are getting removed.

Have you tried adding --complete-ways as well? (e.g. osmconvert64 europe.osm.pbf -B=test.poly --complete-ways --drop-broken-refs -o=test.osm)

That'll make sure the full relatio

[2019-09-30 18:16] mohdalattar opened #334 "Large data taking too long"
Hi, I am trying to calculate centrality indices for large network

ox.graph_from_place('Glasgow City')

 degree centrality and egivenvector centrality have been calculated instantly, however, betweenness centrality is still processing.

![Uploading Screen Shot 2019-09-30 at 6.52.28 PM.png…]()

is there anyway to speed it up ? is it normal ? or there is a bug ?

[2019-10-02 06:44] nemecsek69 opened #335 "Why is PNG always referred to distance 802 m?"
**Linux 19.04, Python 3.7.3, OSMnx 0.10, JupyterLab 1.0.4**

I requested info on [Stackoverflow](https://stackoverflow.com/questions/58186159/osmnx-svg-and-png-images-have-a-different-scale) but got no answer.

I would like to save SVG and PNG based on the same graph. PNG should keep a different road size according to the type (that's why I am using `plot_figure_ground`), but the roads position an

[2019-10-02 06:55] nemecsek69 opened #336 "Projected graph crash due to UTM zone"
**Linux 19.04, Python 3.7.3, OSMnx 0.10, JupyterLab 1.0.4**

`plot_figure_ground` returns an error when used with `GProjected` (projected graph):
`CRSError: Invalid projection: +proj=utm +zone=51562 +ellps=WGS84 +datum=WGS84 +units=m +no_defs +type=crs: (Internal Proj Error: proj_create: Error -35: invalid UTM zone number)`

`plot_figure_ground` works with the standard graph `G`.
`plot_graph` work

[2019-10-02 16:31] gboeing commented on #335
This isn't an SVG vs PNG issue, but it comes down to the fact that you're using two different plotting functions with very different purposes (`plot_graph` vs `plot_figure_ground`). Just pass the `dist` argument into `plot_figure_ground` to override its 805-meter default parameterization. It's described in the documentation: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.plot.plot_figure_

[2019-10-02 16:31] #335 closed

[2019-10-02 16:34] gboeing commented on #334
OSMnx just uses NetworkX to calculate betweenness centrality. It can be a very slow operation, as noted in the [documentation](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.stats.extended_stats) "Many of these algorithms have an inherently high time complexity. Global topological analysis of large complex networks is extremely time consuming and may exhaust computer memory." Any issues w

[2019-10-02 16:34] #334 closed

[2019-10-02 16:38] gboeing commented on #336
The `plot_figure_ground` function requires an *unprojected* graph. I will update the docstring accordingly.

[2019-10-02 16:39] #336 closed

[2019-10-02 16:47] gboeing commented on #71
Your code snippet isn't reproducible because it doesn't define all the variables being referenced in it. But in general, OSMnx constructs networkx graphs from OSM data and it expects all the attributes and metadata that it creates to exist in its graphs. If you manually create a graph yourself and then run OSMnx operations on it, you need to make sure all that machinery is in place in the graph ob

[2019-10-02 17:01] #295 closed

[2019-10-02 17:04] gboeing commented on #325
Hard to guess what's going on here without a fully reproducible, minimal code snippet. As far as I can tell it doesn't look like a bug with OSMnx. For a general question like this (to develop your own analytical script with a use case outside the normal purview of OSMnx), I'd recommend asking the user community on [StackOverflow](https://stackoverflow.com/).

[2019-10-02 17:04] #325 closed

[2019-10-02 17:05] #324 closed

[2019-10-02 17:19] gboeing commented on #317
@HughKelley ah I see what's happening here. You set the argument `gephi=True`, which strips out the non-node/edge graph attributes to make the GraphML file comply with Gephi's specific format requirements:

https://github.com/gboeing/osmnx/blob/eb39dff4aaf726d33b6b7aa9f71c50f3e9b9f012/osmnx/save_load.py#L278

If you set `gephi=False`, your code works.

[2019-10-02 17:19] #317 closed

[2019-10-02 17:20] gboeing commented on #328
Closed by #329.

[2019-10-02 17:20] #328 closed

[2019-10-02 17:21] #315 closed

[2019-10-02 17:23] gboeing commented on #309
I think this workflow would be best-suited to something like QGIS. One other option would be to save the OSMnx graph to Folium/Leaflet and add your annotations there as an interactive web map: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.plot.plot_graph_folium

[2019-10-02 17:23] #309 closed

[2019-10-02 17:25] gboeing commented on #300
As no one else has weighed in on this feature or requested in a few months, I'm going to close it for now, but can always reopen should the need arise.

[2019-10-02 17:25] #300 closed

[2019-10-02 17:26] gboeing commented on #314
This has been dormant for a while, so I'm going to close it for now. If someone wants to pick it up and run with it in the future it can be revisited or reopened as needed!

[2019-10-02 17:26] #314 closed

[2019-10-03 22:47] Jukurrpa commented on #320
Got it, so in you actually want people to look up the results and figure out which one they need before calling `graph_from_place(..., which_result=n)`? Sounds reasonable as I've since had weird results when looking for cities sometimes, like the county coming up before the city even with the proper zoom level in the search. It's issues that would be very easily missed with my proposal.

When I fi

[2019-10-04 10:49] mohdalattar opened #337 "Degree Centrality inconsistency with OSMnx"
There is an inconsistency with degree centrality with OSMnx.
I've used nx.degree_centrality as well as nx.degree. for some reason, degree centrality is not accurate with OSMnx.

<img width="746" alt="Screen Shot 2019-10-04 at 11 07 59 AM" src="https://user-images.githubusercontent.com/50058721/66201866-42b5ad00-e69c-11e9-8f84-e540fbce5f69.png">

As seen in the picture for some nodes (which are con

[2019-10-04 15:49] gboeing commented on #337
If this is an issue with networkx, please open the issue at their repo. Regarding OSMnx, all of its graphs are directed, so a node at an intersection of two bidirectional streets will have degree = 8. Intersections of two one-way streets will have degree = 4. Intersections of bidirectional and one-way streets will vary accordingly. If you're interested in in-degree or out-degree exclusively, consu

[2019-10-05 10:13] mohdalattar commented on #337
I've examined your interpretation by inserting a basemap, it makes sense.
Thank you !

[2019-10-05 14:59] #337 closed

[2019-10-06 04:12] matthew-rococo commented on #78
i want to use this function to read osm file  and save it as graph file , but i can only find the overpass_json_from_file function,  can not figuer out how to save it .

[2019-10-15 11:12] debsankha opened #338 "Feature request - coarse graining a network"
I would like a functionality to convert a larger street network to one with less amount of nodes: Created by merging nodes that are closer than a threshold.

Sample usage would be something like:
[code]

[2019-10-15 11:13] debsankha commented on #338
I do have a working implementation for this feature, since I needed it for some simulations.
I will be happy to submit it as a PR.

[2019-10-23 15:11] unifireseeker commented on #263
It is really helpful for me! Thanks a lot.

[2019-10-25 12:54] ozgurgundogan opened #340 "Node Coordinates"
Hello,
Great job first of all. thanks for your effort.
I tried many things to obtain node coordinates but I couldnt be successful.
How can I get node coordinates ?
I saw a couple example related to this problem ( https://stackoverflow.com/questions/46238813/osmnx-get-coordinates-of-nodes-using-osm-id ). However, as I understand G[node_id] does not give us latitude and longitude anymore.
Is there a

[2019-10-28 16:11] gboeing commented on #340
The `x` and `y` attributes are your node coordinates. If your graph is unprojected, then they are in lat-lon (degree units).

*If you've projected your graph*, then `x` and `y` are your projected node coordinates (in meters or whatever units your projected coordinate system uses) and the nodes will also have additional `lat` and `lon` attributes that contain the original unprojected coordinates.

[2019-10-28 16:11] #340 closed

[2019-10-31 12:25] kylebarron opened #341 "Feature Request: New elevation provider"
Hello! This is an amazing project, and I'm happy to finally have a project to test out osmnx.

I'm working with OSM data of trails, and adding elevation data to trails is important. Currently, the only elevation provider supported is Google Maps, and this has a couple drawbacks. For one they're currently restricting API usage:

This might mean they only care about large-scale, large-budge projects

[2019-10-31 13:25] kylebarron commented on #275
It seems like it would be simple to first request by bounding box but then filter the responses by the provided polygon? That's not a big change from the current code, but it would clear out any false positives that are returned within the bounding box but outside the polygon that might surprise the user.

[2019-11-01 15:38] gboeing commented on #341
I'd be interested in reviewing a PR for this. Changes to the Google Maps Elevation API over the past couple of years have raised some concerns in my mind about scalability and ongoing feasibility. While it (historically) was quicker and easier to attach elevations via the API, it may be that DEMs become a better option moving forward.

This is a good point. If you're already familiar with these da

[2019-11-01 17:41] kylebarron commented on #341
I'm not intricately familiar with DEM sources.

I believe the standard for worldwide coverage is [SRTM][srtm], which looks to be available at 30m horizontal resolution worldwide. Apparently [ASTER][aster] is newer, but it's questionable whether it has higher accuracy. OSM apparently [uses][osm_srtm] SRTM already; SRTM version 3 apparently combines ASTER data.

[srtm]: https://en.wikipedia.org/wiki

[2019-11-01 17:49] gboeing commented on #341
Regarding an API alternative, there is also this: https://open-elevation.com/ which appears to use SRTM data.

[2019-11-01 18:02] kylebarron commented on #341
Yes, I've seen that. It wouldn't be difficult to support that, I assume. It looks like it uses roughly the same API as Google does. Still, I think having local DEM support would be helpful to users who have a lot of data they want to get elevations for.

[2019-11-01 18:05] kylebarron commented on #341
By the way USGS also has [an API](https://nationalmap.gov/epqs/), but you can only get one point at a time.

[2019-11-01 18:07] gboeing commented on #341
I think that makes USGS a nonstarter. A useful PR might swap the Google Maps API for the OpenElevation API, and add a new function to attach elevation via local DEM file rather than via remote API calls.

[2019-11-06 08:30] duccioa opened #344 "Feature Request: asynchronous requests"
Hello,
I am trying to download graphs from cells like administrative boundaries or statistical units. This consists on looping through the geometries of a  `geopandas` dataframe  and send a request with `graph_from_polygon`.
Beside the problem of overloading the Overpass API (as I understand #328 should allow the use of a different endpoint), my problem is that these geometries can count up to the

[2019-11-06 13:44] ratnanil commented on #45
Same here when using https://mybinder.org

[2019-11-06 14:06] AtelierLibre commented on #45
I'm not familiar with mybinder.org but, incase it's helpful, with Colab using apt instead of pip to install rtree will bring the c library with it:

[code]

[2019-11-06 14:18] ratnanil commented on #45
@AtelierLibre: Thank you for the tipp! I was just able to use apt in mybinder with [these instructions](https://mybinder.readthedocs.io/en/latest/sample_repos.html#installing-packages-from-apt-repositories): Add a file named `apt.txt` to the repo containing just a single line:

    libspatialindex-dev

[2019-11-06 14:59] AtelierLibre commented on #45
That's great, glad it was helpful!

[2019-11-07 15:31] havardl commented on #330
@gboeing When running version 0.10 of osmnx (with Python 3.6) I still get this error. Are you referencing a version yet to come?

[code]

Output:
[code]

Dependencies:
[code]

[2019-11-07 15:48] gboeing commented on #330
Yes.

[2019-11-07 15:52] havardl commented on #330
Great! Do you have an idea of when the new version will be released?

[2019-11-07 16:14] gboeing commented on #330
ETA is mid December

[2019-11-08 16:51] havardl commented on #60
Hi @gboeing,

Following your example 7, I've been trying to draw lines as polygons on top of a base map, but with no luck. I'm certain that the coordinates I have are inside of the boundary, and I get no error when adding them. Do I need to re-project them before adding, or is there something wrong with the format I'm adding them as?

[code]

`geometries` containes polygons like these:

[code]

[2019-11-08 17:18] gboeing commented on #60
Your best bet for "how-to" questions is the user community at [StackOverflow](https://stackoverflow.com/search?q=osmnx).

[2019-11-11 09:28] swiss-knight opened #346 "Would it be feasible to complete network on areas such as places or plaza?"
#### Problem description

As described here: https://gis.stackexchange.com/questions/341204 I'm wondering if it would be possible to complete a network on some areas where incoming edges are not directly connected to each other, but only through that particular area, such a pedestrian plaza?

[2019-11-16 08:31] jgmbenoit opened #347 "test_stats: stats4 failed"
In debian Sid environment, the stats4 in test_stats in tests/test_osmnx.py fails with the message:
E           networkx.exception.NetworkXNotImplemented: not implemented for multigraph type

[2019-11-16 19:43] kylebarron commented on #344
Doing tens of thousands of overpass queries in parallel is probably against their terms of use, or at a minimum I'm sure they'd want some type of rate limiting.

In any case, for your use case it sounds like it would be better to download an extract of a large region of interest from http://download.geofabrik.de/ and then use `graph_from_file`. Note you'd need to download and extract the `.osm.bz2

[2019-11-18 08:46] duccioa commented on #344
Thank you Kyle. As I mentioned, I understand bombarding the Overpass API would probably go against their terms of use and it should be done on a local copy.
The solution you are proposing is something that I tried and it is not very practical when you need to fetch the network from bespoke polygons. You need to first cut the `.osm.bz2` file using `osmosis` then either write the subset to disk or s

[2019-11-18 16:37] kylebarron commented on #344
Have you tried running `osmfilter` in parallel to get extracts for each polygon? I've found that `osmfilter` is quite fast, and I would expect that as a shell script there would be no issues running it in parallel.

Otherwise, if you still want to use Overpass API locally, I did google "python concurrent http requests" and there are many, many blog posts for how to implement such a thing, though i

[2019-11-18 16:40] kylebarron commented on #344
Also if you use `capture_output=True` on [`subprocess.run`](https://docs.python.org/3/library/subprocess.html), I think that returns the output from `osmfilter` (haven't used osmosis) as a Python string. ~~Then you should be able to just pass that string to `graph_from_file`, no?~~ I see that `graph_from_file` only accepts a filename. That should be updated to accept a filename or buffer, so that

[2019-11-19 17:51] gboeing commented on #344
@duccioa yes, as @kylebarron suggests, an important goal of the OSMnx project is to not overload the APIs we use. I built responsive rate-limiting into OSMnx and this doesn't accommodate parallel processing. A couple thoughts: 1) geofabrik may be a good option for acquiring large study areas. 2) a local overpass api instance may meet your needs. 3) when I've modeled tens of thousands of study site

[2019-11-19 17:51] #344 closed

[2019-11-23 12:40] RCC-GIT opened #348 "ox.graph_from_place / Need some advice"
Hello, I am testing OSMNX which very efficient ...I want to get roads in Shape files for France.
So this is my first code :
[code]

I Works OK  but I have 2 issues :

When I wants to get all the drive of this big area , it goes endless ... I think because the quantity of data is too big .... So What are the limitations ? Can I get only the .shp files because the .dbf files can we very  big rapidly

[2019-11-25 00:31] gboeing commented on #348
@RCC-GIT if you decompose and time your code, you'll see that you can get the entire drivable network for this area in just like ~4 minutes. The time complexity arises when you try to project your (huge) simplified graph. As has been discussed elsewhere in this issue tracker, the fastest workflow is to:

  1. get the graph without simplifying it
  2. project the graph to your desired CRS
  3. simp

[2019-11-25 00:31] #348 closed

[2019-11-26 19:09] Georgepop opened #349 "libspatialindex_c.so: cannot open shared object file"
Hello i can't pull docker image of your library !!
gives error: libspatialindex
PLease help !

[2019-11-26 22:25] gboeing commented on #349
It's not clear to me how `docker pull` could produce any such error. From your terminal, run

[code]

and docker will pull the image.

[2019-11-27 04:17] Georgepop commented on #349
thank you !

[2019-11-27 04:17] #349 closed

[2019-11-27 04:43] Georgepop commented on #349
when trying to install in docker i get this error:
OSError: libspatialindex_c.so: cannot open shared object file: No such file or directory

what to do ?!

[2019-11-27 16:47] gboeing commented on #346
It's conceivably possible, but would be nontrivial and probably beyond the scope of the OSMnx project at this point.

[2019-11-27 16:47] #346 closed

[2019-11-27 18:50] gboeing commented on #347
This test failure is resulting from networkx no longer implementing the betweenness_centrality algorithm on Multi(Di)Graph types as of v2.4: https://github.com/networkx/networkx/pull/3454

I need to change the OSMnx stats module to accommodate that.

[2019-11-27 18:53] gboeing commented on #347
See also: https://github.com/networkx/networkx/issues/3432

[2019-11-27 19:18] #347 closed

[2019-11-28 07:15] Tahseen90 commented on #178
import osmnx as ox

name_place = "Kamppi, Helsinki, Finland"
graph = ox.graph_from_place(name_place)
graph_proj = ox.project_graph(graph)
fig, ax = ox.plot_graph(graph_proj)
edges = ox.graph_to_gdfs(graph_proj,nodes=False, edges=True)
edges.plot()

area = edges.unary_union.convex_hull.area

stats = ox.basic_stats(graph_proj, area==area)
extended_stats = ox.extended_stats(graph_proj, ecc=False, bc=

[2019-11-28 15:26] gboeing commented on #178
Fixed in #350

[2019-11-30 03:47] lmingde opened #353 "Error in plot_graph after read graph from file"
hi, I get graph by `ox.graph_from_palce()` then save it to osm.file and read it, but I meet problem in plot the graph which read from osm file, here are my codes:
[code]

Error:
![osmnx_plot_problem](https://user-images.githubusercontent.com/38581341/69895220-f9fe3580-1366-11ea-915d-7018742976f7.png)

[code]

[2019-11-30 11:30] lmingde opened #354 "Why the shortest path length smaller than the distance between two point??"
HI, I use the `nx.shortest_path_length()` to get the length of the shortest path between two points, but I find it smaller than the straight-line length between two points:
BTW, I wonder what the unit message of the shortest path length? Kilometer？ Hundred meters？ Meter?
My codes:
[code]

In my Ipython:
![osmnx_dist_error](https://user-images.githubusercontent.com/38581341/69899823-b5928a00-13a6-1

[2019-11-30 11:56] lmingde commented on #354
I'm very sorry. I use the `nx.shortest_path_length()` in error way. It should `nx.shortest_path_length(graph_proj,id1,id2,weight='length')`

[2019-11-30 11:56] #354 closed

[2019-12-04 01:13] gboeing commented on #275
fixed in #352

[2019-12-04 01:44] gboeing commented on #261
Closing this for now (as #284 was closed) but I'm open to this being re-opened and developed in the future.

[2019-12-04 01:44] #261 closed

[2019-12-04 01:47] gboeing commented on #353
Your code works fine on my computers.

[2019-12-04 01:47] #353 closed

[2019-12-05 16:49] AlbertoMCS opened #355 "Error when loading street network from poligon"
Hi ,
I am following this post: https://geoffboeing.com/2016/11/osmnx-python-street-networks/#comment-42748 and replicating it.

I want to get street network from a polygon I created.
I loaded the polygon with geopandas and I wrote the code provided in the post but I get an error, here my code:

`df1 = gdp.read_file('C:/Users/ATELLO/Desktop/shapefile/prueba.shp')
K = ox.graph_from_polygon(df1, netw

[2019-12-05 19:23] gboeing commented on #355
You need to provide a [minimal, complete, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for me to be able to troubleshoot this.

Read the documentation for `graph_from_polygon`: https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.core.graph_from_polygon

It calls for a shapely Polygon or MultiPolygon with coordinates in units of lat-long degrees. You appear

[2019-12-05 19:23] #355 closed

[2019-12-07 22:08] mxndrwgrdnr opened #356 "Fix duplicate edges in save_graph_osm()"
When I originally wrote this function, I didn't realize that the edges dataframe generated by `ox.graph_to_gdfs()` will contain multiple rows with the same `osmid` for any way that is associate with more than two nodes. As such, save_graph_osm() will generate XML like
[code]
instead of
[code]
The XML will still validate, as was documented in the original PR, but it doesn't technically conform to t

[2019-12-08 07:50] mxndrwgrdnr commented on #356
By the same token, I believe we ought to first convert the graph object to an _undirected_ graph with before converting to gdfs. That will at least get rid of the duplicate edges that are only duplicate because they were two-way ways. Whatever processes use the OSM XML output of `ox.save_graph_osm()` will rely solely on the `oneway` tag to interpret directionality.

[2019-12-10 04:44] pedrocamargo opened #357 "Continuing the separation between OSMNx features"
After looking into the code for version 0.11, it is clear that refactoring the code does not achieve the objective of being able to use OSMNx only for downloading OSM data while getting around the tricky dependencies that OSMNx has in order to support its full functionality (Fiona, Shapely, Rtree).

Could we turn those dependencies as optional and allow the software to be installed without its ful

[2019-12-10 10:16] pedrocamargo commented on #357
It looks like it would be a LOT more complex to actually separate things properly, so I am taking it back.

[2019-12-10 10:16] #357 closed

[2019-12-11 05:10] gboeing commented on #356
Probably worth fixing if we can figure out a fix.

Yes. You'd basically want to find all graph edges that match a certain way ID. Then you can recover their order by look at the `u` and `v` keys (meaning "to" and "from" nodes).

[2019-12-11 17:37] mxndrwgrdnr commented on #356
I guess I was hoping that somewhere OSMnx might have preserved the original order of the nodes in sequence. Reconstructing the node order by matching the `v` key from one edge to the `u` key of another will definitely work, but will also probably be quite slow to run on the entire graph. If that's all we got then I can work with it but if you had any other bright ideas I'd love to hear them.

[2019-12-12 18:56] jchaykow commented on #156
[code]

`Rtree-0.9.3 geopandas-0.6.2 networkx-2.4 osmnx-0.11`

[2019-12-17 13:12] swiss-knight opened #358 "Simplify MultiGraph leads to error: 'MultiGraph' object has no attribute 'predecessors'"
Hello.

Here is a small error I encountered while trying to simplify a MultiGraph.

#### Problem description:
I am trying to simplify a MultiGraph using `osmnx.simplify_graph()`.

#### Environment:
Ubuntu 18.04 64bit, 5.0.0-37-generic x86_64 GNU/Linux.
Python 3.6.9
Osmnx : 0.10
NetworkX: 2.4
Numpy: 1.17.4
iPython: 7.8.0
notebook: 5.7.7
geopandas: 0.6.1
pandas: 0.25.3
matplotlib: 3.1.2

#### Code s

[2019-12-17 16:04] gboeing commented on #358
Per [the docs](https://osmnx.readthedocs.io/en/stable/osmnx.html#osmnx.simplify.simplify_graph), the `simplify_graph` function takes a networkx MultiDiGraph argument, not a MultiGraph.

[2019-12-17 16:04] #358 closed

[2019-12-18 21:43] mxndrwgrdnr commented on #356
@gboeing I documented my proposed fix in PR #359. Let me know what you think. It's not particularly elegant but it works.

[2019-12-20 09:19] CharuManivannan commented on #210
I tried this but I keep getting the error "KeyError: 'streets_per_node'"

[2019-12-24 06:24] mxndrwgrdnr commented on #356
I've found another complicating issue that will cause my algorithm to break. I noticed that after converting my network from a multi-digraph to an undirected multigraph, the remaining edges were often preserved in a weird order. For example, if I had edges ((1, 2), (2, 1), (2, 3), (3, 2)) in my multi-digraph, after conversion using the `ox.get_undirected()` method I might be left with something li

[2019-12-31 07:41] TMorville opened #360 "Inconsistencies in get_nearest_edge(s)"
First off, thanks for making this package and maintaining it. It's really great work.

#### Problem description (what did you do, what did you expect to happen, and what actually happened)

I have two issues with the `get_nearest_edges` method. One may be a bug and the other one seems like a performance issue.

First, in [the documentation](https://osmnx.readthedocs.io/en/stable/osmnx.html) under

[2019-12-31 08:48] TMorville commented on #360
After updating to `osmnx==0.11` performance is much better for `kdtree` and `balltree` for a longer list of coordinates. However, the "swapping" of orders from `None` to the two other methods still persist.

For N = 100 lat, lng pairs:

`lat, lng` order (correct result for `None`):

[code]

`lng, lat` order (correct result for `kdtree` & `balltree`):

[code]

[2020-01-01 01:01] gboeing commented on #360
Thanks for catching this: `get_nearest_edges` was incorrectly passing the coordinates to `get_nearest_edge` as (x, y) instead of (y, x).

#361 fixes this, so that everything is passed as (y, x) and (lat, lng), and improves the docstring with more detail.

[2020-01-01 01:05] #360 closed

[2020-01-01 18:28] gboeing commented on #360
Also, regarding the runtimes: the kdtree and balltree methods need to build an index upfront, so there's a substantial fixed cost. Thus for small networks, the manual-search `None` method will often be faster because it avoids the time cost of index construction. For large graphs, it is worth it to build the index for the substantial speed-up it offers, and thus the kdtree and balltree methods are

[2020-01-03 12:16] tomonodes opened #362 "'MultiDiGraph' object has no attribute 'node'"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Trying to reproduce the answer found [here](https://github.com/gboeing/osmnx/issues/340#issuecomment-547021812).

[code]
[code]

Works fine when converting to gdf:

[code]

It seems that somewhere the `node` method as become `nodes` instead. Since there is no direct documentation in the package t

[2020-01-03 12:17] tomonodes commented on #362
Posted with wrong account. Closing for proper tracking. Apologies!

[2020-01-03 12:17] #362 closed

[2020-01-03 12:17] TMorville opened #363 "'MultiDiGraph' object has no attribute 'node'"
#### Problem description (what did you do, what did you expect to happen, and what actually happened)

Trying to reproduce the answer found [here](https://github.com/gboeing/osmnx/issues/340#issuecomment-547021812).

[code]
[code]

Works fine when converting to gdf:

[code]

It seems that somewhere the `node` method as become `nodes` instead. Since there is no direct documentation in the API that

[2020-01-03 17:43] gboeing commented on #363
Yes, this is just the result of a NetworkX API change over time rather than an OSMnx issue. This works:

[code]

[2020-01-03 17:43] #363 closed

[2020-01-03 17:45] gboeing commented on #340
Note that the NetworkX API has changed slightly over time:

[code]

[2020-01-06 17:46] mxndrwgrdnr commented on #356
What say you @gboeing?

[2020-01-06 18:47] gboeing commented on #356
Step me through your logic a bit more on creating a high-level setting like `ox.settings.all_oneway` and how that solves your use case. I'm potentially open to it but want to think through its operation and implications in some detail first...

[2020-01-06 20:01] mxndrwgrdnr commented on #356
In short, my use case is one in which I want to use OSMnx to download a network, programmatically edit network attributes (e.g. custom tags), and save the results back to OSM XML in a format that preserves the original network topology so that the results can be used by something that reads OSM XML.

OSM XML really only reflects directionality in two ways: directional tags and the implicit order o